<h3>What is Sitecore Experience Accelerator (SxA)?</h3>


<p>Sitecore Experience Accelerator <em>(SxA)</em> is&mdash;</p>

<ul>
    <li>built on top of Sitecore&rsquo;s <a href="http://habitat.sitecore.net" target="_blank">Habitat</a> <em>(a real Sitecore project implemented on the Sitecore Experience Platform to show how Helix is applied and lets developers experience a project based on these principles)</em></li>
    <li>adheres to <a href="http://helix.sitecore.net" target="_blank">Helix</a> guidelines &amp; recommendations<em> (a set of design principles and conventions for Sitecore development)</em></li>
    <li>is completely extensible and upgradable using Sitecore Helix Compliance standards</li>
    <li>based on Cognifide&#39;s Zen Garden</li>
</ul>

<div class="col-xs-12 col-sm-6">
    <p><strong>Here&#39;s a brief introduction to Zen Garden.</strong><br />
    <iframe frameborder="0" src="https://www.youtube.com/embed/S12iGLO3DKk" width="660" height="315"></iframe><br />
    <small>Cognifide (2:01) <em>6/24/16</em></small></p>
</div>