<h3>Issues / Questions</h3>


<h4>Allowed Controls</h4>
<ol>
    <li>why cant utility nav be available in row/row advanced</li>
    <li>why cant search box go in container</li>
</ol>

<hr />

<h4>Footer Navigation</h4>
<h5>Allowed Controls - Column</h5>
<ol>
    <li>available in column but does not work</li>
</ol>

<hr />

<h4>Modal Window</h4>
<h5>Linking to a Modal Window</h5>
<p>The below issues result in linking to modal windows not being available in the below listed navigation components and the user then having to use
    an RTE or HTML component wherever linking to a modal is required.
</p>
<h6>Navigation Components</h6>
<ol>
    <li>Navbar Utility Nav</li>
    <li>Navbar Primary Nav</li>
</ol>
<p>
    <img class="img-responsive" src="images/link/options-link-label.jpg" />
<ol>
    <li>When selecting a modal window target via the link label options, <code>href</code>, <code>data-toggle</code> and <code>data-target</code> are not set</li>
    <li>Options for linking are to a specific page not a modal so this should not even be an option</li>
</ol>
</p>
<img class="img-responsive" src="images/link/options-link-label-data.jpg" />

<hr />
