<h3>Overview</h3>

<h4>What are the core features?</h4>

<ul>
    <li><strong>Template Engine</strong> - Create as many templates as you need without going back to a developer</li>
    <li><strong>Drag-n-drop Page Assembly with Reusable OOB Components</strong> - Over 30+ pre-built components that you can use to build any page</li>
    <li><strong>Dynamic Wireframes</strong> - Create wireframes directly from within Sitecore, allowing design and content entry to start once UX is complete</li>
    <li><strong>Pluggable Themes</strong> - Completed design (one or more) can be imported as a theme (or themes) and easily switched at any time</li>
    <li><strong>Creative Exchange</strong> - Seperate UA from design; wires can be exported as a site in static HTML, JS, and CSS</li>
    <li><strong>Mobile First</strong> - Design for mobile without non-deliverability issues</li>
    <li><strong>Parallel Production</strong> - Reduce time to market</li>
</ul>


<h4>Parallel Production</h4>
The most important overall feature of XsA is the potential reduction of time to market via Parallel Production methodologies provided by the extensible and customizable toolset.<br />

<h2 style="background-color: #e51b15; color: white; border: 1px solid black; padding: 5px 10px;">&quot;Let your phase two become your phase one&quot;</h2>
<img height="30%" src="images/IntroducingSitecoreExperienceAccelerator-Picture 5-rId10-1725164386.png" style="border: 1px solid #ccc;" width="30%" /><br />
<small>Source: <a href="//doc.sitecore.net/siteco re_experience_accelerator/setting_up_and_configuring/introducing_sitecore_experience_accelerator" target="_blank">Sitecore</a></small>