<script>
//Data
var regions = [
{
"site": "FMSC Chanhassen Site MobilePack",
"street": "18732 Lake Drive East",
"city": "Chanhassen, MN",
"zip": "55433",
"phone": "(763) 951-7308",
"site_id": 9380,
"latitude": 44.85646,
"longitude": -93.55295,
"mobilepack": true,
"mobileurl": "http://www.fmsc.org",
"days":
[
{
"date": "Saturday, June 25, 2016",
"times":
[
{
"time": "9:00 AM - 11:00 AM",
"available": "26 Spots Available",
"full": false
},
{
"time": "11:30 AM - 1:30 PM",
"available": "Full",
"full": true
},
{
"time": "2:00 PM - 4:00 PM",
"available": "10 Spots Available",
"full": false
},
{
"time": "4:30 PM - 6:30 PM",
"available": "31 Spots Available",
"full": false
},
{
"time": "7:00 PM - 9:00 PM",
"available": "Full",
"full": true
},
{
"time": "9:00 PM - 10:30 PM",
"available": "Full",
"full": true
}
]
},
{
"date": "Monday, June 27, 2016",
"times":
[
{
"time": "9:00 AM - 11:00 AM",
"available": "Full",
"full": true
},
{
"time": "11:30 AM - 1:30 PM",
"available": "15 Spots Available"
},
{
"time": "2:00 PM - 4:00 PM",
"available": "20 Spots Available"
},
{
"time": "4:30 PM - 6:30 PM",
"available": "Full",
"full": true
},
{
"time": "7:00 PM - 9:00 PM",
"available": "12 Spots Available"
},
{
"time": "9:00 PM - 10:30 PM",
"available": "Full",
"full": true
}
]
},
{
"date": "Thursday, June 30, 2016",
"times":
[
{
"time": "9:00 AM - 11:00 AM",
"available": "Full",
"full": true
},
{
"time": "11:30 AM - 1:30 PM",
"available": "Full",
"full": true
},
{
"time": "2:00 PM - 4:00 PM",
"available": "15 Spots Available",
"full": false
},
{
"time": "4:30 PM - 6:30 PM",
"available": "Full",
"full": true
},
{
"time": "7:00 PM - 9:00 PM",
"available": "16 Spots Available",
"full": false
},
{
"time": "9:00 PM - 10:30 PM",
"available": "Full",
"full": true
}
]
}
]
},
{
"site": "FMSC Coon Rapids Site",
"street": "18732 Lake Drive East",
"city": "Coon Rapids, MN",
"zip": "55433",
"phone": "(763) 951-7308",
"site_id": 9381,
"latitude": 45.13851,
"longitude": -93.27802,
"mobilepack": false,
"days":
[
{
"date": "Saturday, June 25, 2016",
"times":
[
{
"time": "9:00 AM - 11:00 AM",
"available": "26 Spots Available",
"full": false
},
{
"time": "11:30 AM - 1:30 PM",
"available": "26 Spots Available",
"full": false
},
{
"time": "2:00 PM - 4:00 PM",
"available": "26 Spots Available",
"full": false
},
{
"time": "4:30 PM - 6:30 PM",
"available": "26 Spots Available",
"full": false
},
{
"time": "7:00 PM - 9:00 PM",
"available": "26 Spots Available",
"full": false
},
{
"time": "9:00 PM - 10:30 PM",
"available": "26 Spots Available",
"full": false
}
]
},
{
"date": "Monday, June 27, 2016",
"times":
[
{
"time": "9:00 AM - 11:00 AM",
"available": "26 Spots Available",
"full": false
},
{
"time": "11:30 AM - 1:30 PM",
"available": "26 Spots Available",
"full": false
},
{
"time": "2:00 PM - 4:00 PM",
"available": "26 Spots Available",
"full": false
},
{
"time": "4:30 PM - 6:30 PM",
"available": "16 Spots Available",
"full": false
},
{
"time": "7:00 PM - 9:00 PM",
"available": "22 Spots Available",
"full": false
},
{
"time": "9:00 PM - 10:30 PM",
"available": "31 Spots Available",
"full": false
}
]
},
{
"date": "Thursday, June 30, 2016",
"times":
[
{
"time": "9:00 AM - 11:00 AM",
"available": "26 Spots Available",
"full": false
},
{
"time": "11:30 AM - 1:30 PM",
"available": "Full",
"full": true
},
{
"time": "2:00 PM - 4:00 PM",
"available": "Full",
"full": true
},
{
"time": "4:30 PM - 6:30 PM",
"available": "Full",
"full": true
},
{
"time": "7:00 PM - 9:00 PM",
"available": "16 Spots Available",
"full": false
},
{
"time": "9:00 PM - 10:30 PM",
"available": "6 Spots Available",
"full": false
}
]
}
]
}
];
</script>