<h3>Image Grid</h3>

<p class="alert alert-danger">Lightbox error when click image &mdash;
<code>TypeError: n(...).ekkoLightbox is not a function</code></p>

<br />
<br />
<br />

<div class="row">
    <div class="col-xs-4 text-left">
        <img class="img-responsive" src="images/icons/components/utility-navigation.png" />
    </div>
    <div class="col-xs-8 text-left">
        <table width="100%">
            <tr>
                <td>
                    <h4>Allowed In</h4>
                    <ul class="allowed">
                        <li><a href="Container"><span class="badge">Container</span></a></li>
                        <li><a href="Row"><span class="badge">Row</span></a></li>
                        <li><a href="Row_Advanced"><span class="badge">Row Advanced</span></a></li>
                    </ul>
                </td>
                <td>
                    <h4>Includes</h4>
                    <ul class="allowed">
                        <li><span class="badge text-info">Image Row</span></li>
                        <li><a href="Row"><span class="badge">Row <em>(in Image Row)</em></span></a></li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</div>


<div style="clear:both"></div>
<hr />

<div class="row usage">
    <div class="col-xs-12">
        <h4>Usage</h4>
        <p></p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Examples</h4>

        <h5>Hover Styles - Gray Background</h5>
        <div class="col-xs-12 col-sm-2">
            <img class="img-responsive" src="images/imageGrid/example-image-grid-hover1.jpg" />
            <p><em>Hover Style 1</em></p>
        </div>
        <div class="col-xs-12 col-sm-2">
            <img class="img-responsive" src="images/imageGrid/example-image-grid-hover2.jpg" />
            <p><em>Hover Style 2</em></p>
        </div>
        <div class="col-xs-12 col-sm-2">
            <img class="img-responsive" src="images/imageGrid/example-image-grid-hover3.jpg" />
            <p><em>Hover Style 3</em></p>
        </div>
        <div class="col-xs-12 col-sm-2">
            <img class="img-responsive" src="images/imageGrid/example-image-grid-hover4.jpg" />
            <p><em>Hover Style 4</em></p>
        </div>
        <div class="col-xs-12 col-sm-2">
            <img class="img-responsive" src="images/imageGrid/example-image-grid-hover5.jpg" />
            <p><em>Hover Style 5</em></p>
        </div>

        <div style="clear:both"></div>

        <h5>Hover Styles - Blue Background</h5>
        <div class="col-xs-12 col-sm-2">
            <img class="img-responsive" src="images/imageGrid/example-image-grid-hover1-blue.jpg" />
            <p><em>Hover Style 1</em></p>
        </div>
        <div class="col-xs-12 col-sm-2">
            <img class="img-responsive" src="images/imageGrid/example-image-grid-hover2-blue.jpg" />
            <p><em>Hover Style 2</em></p>
        </div>
        <div class="col-xs-12 col-sm-2">
            <img class="img-responsive" src="images/imageGrid/example-image-grid-hover3-blue.jpg" />
            <p><em>Hover Style 3</em></p>
        </div>
        <div class="col-xs-12 col-sm-2">
            <img class="img-responsive" src="images/imageGrid/example-image-grid-hover4-blue.jpg" />
            <p><em>Hover Style 4</em></p>
        </div>
        <div class="col-xs-12 col-sm-2">
            <img class="img-responsive" src="images/imageGrid/example-image-grid-hover5-blue.jpg" />
            <p><em>Hover Style 5</em></p>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Content Group Options</h4>
        <img class="img-responsive" src="images/imageGrid/options-image-grid.jpg" />
        <br />
        <p>To edit content group options, click the Edit Content Group icon <img src="images/icons/icon-edit.jpg" />. </p>

        <table class="table table-striped table-responsive">
            <tbody>
            <tr>
                <th>Option</th>
                <th>Data Type</th>
                <th>Function</th>
            </tr>
            <tr>
                <td>Color Scheme</td>
                <td>Selection</td>
                <td>Select background style using default class options<br />
                    <ul>
                        <li>Blue background</li>
                        <li>Gray background &mdash;<code>.scheme02</code></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Gutter</td>
                <td>Selection</td>
                <td>Select No Gutter or Gutter Size using default options<br />
                    <ul>
                        <li>No Gutter</li>
                        <li>Small Gutter</li>
                        <li>Medium Gutter</li>
                        <li>Large Gutter</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Hover Style</td>
                <td>Selection</td>
                <td>Select No Hover or Hover Style using default options<br />
                    <ul>
                        <li>No Hover</li>
                        <li>Hover Style 1</li>
                        <li>Hover Style 2</li>
                        <li>Hover Style 3</li>
                        <li>Hover Style 4</li>
                        <li>Hover Style 5</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>CSS Class</td>
                <td>Input</td>
                <td>Add CSS class</td>
            </tr>
            <tr>
                <td>Style</td>
                <td>Input</td>
                <td>Add CSS styles (inline)</td>
            </tr>
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Allowed Components &mdash; <small><em>(in Image Row)</em></small></h4>
        <ul class="allowed">
            <li><a href="Image_Grid_Image"><span class="badge">Image Grid Image</span></a></li>
        </ul>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Code Sample</h4>
        <code>
<pre>
&lt;div id="lightbox-wrapper"&gt;
    &lt;div id="gallery" class="album-container" style=""&gt;
        &lt;div class="album cf hover04 nogutter default"&gt;
            &lt;div class="row" style="" id=""&gt;
                &lt;div class="col-sm-3"&gt;
                    &lt;div class="image" style=""&gt;
                        &lt;a href="/-/media/Images/Components/Sample-Company/sitting-cat.ashx" class="thumb-link" data-toggle="lightbox" data-gallery="gallery1" data-title="Image Grid Image 1" alt="sitting cat"&gt;
                            &lt;img src="/-/media/Images/Components/Sample-Company/sitting-cat.ashx?h=225&amp;w=400&amp;la=en&amp;hash=9EE06480E5062F62EB78170A6CCE80B22F219895" alt="sitting cat"&gt;
                            &lt;div class="thumb-caption"&gt;
                                &lt;h3&gt;Image Grid Image 1&lt;/h3&gt;
                                &lt;span&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. In molestie mattis turpis nec consequat. Donec tristique vestibulum est, vel ultrices mi lacinia eu. Sed quis ornare nisi, non dignissim justo. &lt;/span&gt;
                            &lt;/div&gt;
                        &lt;/a&gt;

                    &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class="col-sm-3"&gt;
                    &lt;div class="image" style=""&gt;
                        &lt;a href="/-/media/Images/Components/Sample-Company/puppy-pitbull.ashx" class="thumb-link" data-toggle="lightbox" data-gallery="gallery1" data-title="Image Grid Image 2" alt="puppy pitbull"&gt;
                            &lt;img src="/-/media/Images/Components/Sample-Company/puppy-pitbull.ashx?h=225&amp;w=400&amp;la=en&amp;hash=9EC7E124CE16288B0DA39819F1961F146E8541E6" alt="puppy pitbull"&gt;
                            &lt;div class="thumb-caption"&gt;
                                &lt;h3&gt;Image Grid Image 2&lt;/h3&gt;
                                &lt;span&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. In molestie mattis turpis nec consequat. Donec tristique vestibulum est, vel ultrices mi lacinia eu. Sed quis ornare nisi, non dignissim justo. &lt;/span&gt;
                            &lt;/div&gt;
                        &lt;/a&gt;

                    &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class="col-sm-3"&gt;
                    &lt;div class="image" style=""&gt;
                        &lt;a href="/-/media/Images/Components/Sample-Company/cat-burrito.ashx" class="thumb-link" data-toggle="lightbox" data-gallery="gallery1" data-title="Image Grid Image 3" alt="Cat Burrito"&gt;
                            &lt;img src="/-/media/Images/Components/Sample-Company/cat-burrito.ashx?h=225&amp;w=400&amp;la=en&amp;hash=6F063248C70423F238BC0D05CE83254C0A4AB0F9" alt="Cat Burrito"&gt;
                            &lt;div class="thumb-caption"&gt;
                                &lt;h3&gt;Image Grid Image 3&lt;/h3&gt;
                                &lt;span&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. In molestie mattis turpis nec consequat. Donec tristique vestibulum est, vel ultrices mi lacinia eu. Sed quis ornare nisi, non dignissim justo. &lt;/span&gt;
                            &lt;/div&gt;
                        &lt;/a&gt;

                    &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class="col-sm-3"&gt;
                    &lt;div class="image" style=""&gt;
                        &lt;a href="/-/media/Images/Components/Sample-Company/running-dog.ashx" class="thumb-link" data-toggle="lightbox" data-gallery="gallery1" data-title="Image Grid Image 4" alt="running dog"&gt;
                            &lt;img src="/-/media/Images/Components/Sample-Company/running-dog.ashx?h=225&amp;w=400&amp;la=en&amp;hash=9F11E993F139F86D764E3713AB17CA0505F6AAC0" alt="running dog"&gt;
                            &lt;div class="thumb-caption"&gt;
                                &lt;h3&gt;Image Grid Image 4&lt;/h3&gt;
                                &lt;span&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. In molestie mattis turpis nec consequat. Donec tristique vestibulum est, vel ultrices mi lacinia eu. Sed quis ornare nisi, non dignissim justo. &lt;/span&gt;
                            &lt;/div&gt;
                        &lt;/a&gt;

                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</pre>
        </code>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Site Builder Classes</h4>
        <code>
<pre>
#lightbox-wrapper {
    margin-bottom: 10px;
    padding-bottom: 15px;
    width: 100%;
}
#lightbox-wrapper .album-container h2 {
    border-bottom: 1px solid #666;
    color: #666;
}
.thumb-link {
    display: block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
}
.thumb-link img {
    display: block;
    height: auto;
    position: relative;
    width: 100%;
}
.thumb-link .thumb-caption {
    display: block;
    padding: 20px;
    position: static;
}
.thumb-link .thumb-caption h3 {
    font-size: 16px;
    line-height: 16px;
    margin: 0;
}
.thumb-link .thumb-caption span {
    display: block;
    font-size: 13px;
}
/****/
.thumb-link .thumb-caption {
    background: #0785a4 none repeat scroll 0 0;
    color: #fff;
    display: block;
}
.thumb-link .thumb-caption h3 {
    color: #e36526;
}
.thumb-link .thumb-caption span {
    color: #fff;
}
.scheme02 .thumb-caption {
    background: #333 none repeat scroll 0 0;
}
.scheme02 .thumb-caption h3 {
    color: #fff;
}
.scheme02 .thumb-caption span {
    color: #2aabb9;
}
.album-container .row, .album-container .display-section-content {
    margin: 0;
}
.gutter-smll {
    margin-left: -7.5px;
    margin-right: -7.5px;
}
.gutter-med {
    margin-left: -10px;
    margin-right: -10px;
}
.gutter-lrg {
    margin-left: -15px;
    margin-right: -15px;
}
.album-container [class*="col-"], .nogutter [class*="col-"] {
    padding: 0;
}
.gutter-smll [class*="col-"] {
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
}
.gutter-med [class*="col-"] {
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.gutter-lrg [class*="col-"] {
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}
.hover01 .thumb-link, .hover02 .thumb-link {
    overflow: visible;
}
.hover01 .thumb-link .thumb-caption, .hover04 .thumb-link .thumb-caption {
    height: 100%;
    width: 100%;
}
.hover01 .thumb-link .thumb-caption, .hover02 .thumb-link .thumb-caption, .hover03 .thumb-link .thumb-caption, .hover04 .thumb-link .thumb-caption {
    position: absolute;
}
.hover02 .thumb-link .thumb-caption {
    width: 100%;
}
.hover01 .thumb-link .thumb-caption {
    backface-visibility: hidden;
    left: 0;
    opacity: 0;
    padding: 0;
    text-align: center;
    top: 0;
    transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
    z-index: 10;
}
.hover01 .thumb-link:hover .thumb-caption {
    opacity: 1;
    transform: translate(15px, 15px);
}
.hover01 .thumb-link .thumb-caption h3 {
    margin-top: 32%;
}
.hover02 .thumb-link .thumb-caption {
    bottom: 0;
    left: 0;
    padding: 15px 5%;
}
.hover02 .thumb-link .thumb-caption h3 {
    margin-top: 2%;
}
.hover02 .thumb-link img {
    transition: transform 0.4s ease 0s;
    z-index: 10;
}
.hover02 .thumb-link:hover img {
    transform: translateY(-69px);
}
.hover03 .thumb-link img {
    transition: transform 0.4s ease 0s;
}
.hover03 .thumb-link:hover img {
    transform: translateY(-50px);
}
.hover03 .thumb-link .thumb-caption {
    bottom: 0;
    opacity: 0;
    top: auto;
    transform: translateY(100%);
    transition: transform 0.4s ease 0s, opacity 0.1s ease 0.3s;
    width: 100%;
}
.hover03 .thumb-link:hover .thumb-caption {
    opacity: 1;
    transform: translateY(0px);
    transition: transform 0.4s ease 0s, opacity 0.1s ease 0s;
}
.hover04 .thumb-link .thumb-caption {
    backface-visibility: hidden;
    bottom: 5%;
    height: auto;
    left: 5%;
    opacity: 0;
    right: 5%;
    text-align: center;
    top: 5%;
    transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
    width: auto;
    z-index: 10;
}
.hover04 .thumb-link:hover .thumb-caption {
    opacity: 1;
}
.hover04 .thumb-link .thumb-caption h3 {
    margin-top: 25%;
}
.hover05 .thumb-link .thumb-caption {
    background: rgba(0, 0, 0, 0.85) none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.hover05 .thumb-link .magnify {
    background: rgba(0, 0, 0, 0) url("../images/lightbox/magnify.png") no-repeat scroll center center;
    display: block;
    height: 100%;
    width: 100%;
}
.hover05 .thumb-link, .hover05 .thumb-link .thumb-caption, .hover05 .thumb-link .magnify {
    transition: all 0.5s ease 0s;
}
.hover05 .thumb-link:hover .thumb-caption, .magnify {
    opacity: 1;
}
.hover05 .thumb-link .thumb-caption span::before {
    content: " ";
}
#lightbox-close, .download-link {
    bottom: -35px;
    cursor: pointer;
    font-size: 26px;
    height: 30px;
    position: absolute;
    right: 39px;
    text-align: center;
    text-rendering: auto;
    width: 30px;
    z-index: 1103;
}
#lightbox-close {
    color: #fff;
    display: none;
    right: 0;
}
#lightbox-close::before {
    content: "?";
    font-family: "FontAwesome";
}
#lightbox-close:hover {
    color: #d9534f;
    text-decoration: none;
}
</pre>
        </code>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Tips &amp; Troubleshooting</h4>
        <h5>Hover Style 4 with Caption</h5>
        <p>Add the correction below to Custom Stylesheet if using a Hover Style 4 with a caption.</p>
<code>
<pre>
.hover04 .thumb-link .thumb-caption h3 {
    margin-top: 5%;
}
</pre>
</code>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Restrictions &amp; Dependencies</h4>
    </div>
</div>