<h3>Listing</h3>

<div class="row">
    <div class="col-xs-4 text-left">
        <img class="img-responsive" src="images/icons/components/listing.png" />
    </div>
    <div class="col-xs-8 text-left">
        <table width="100%">
            <tr>
                <td>
                    <h4>Allowed In</h4>
                    <ul class="allowed">
                        <li><a href="Accordion"><span class="badge">Accordion</span></a></li>
                        <li><a href="Billboard"><span class="badge">Billboard</span></a></li>
                        <li><a href="Container"><span class="badge">Container</span></a></li>
                        <li><a href="Panel"><span class="badge">Panel</span></a></li>
                        <li><a href="Row"><span class="badge">Row</span></a></li>
                        <li><a href="Row_Advanced"><span class="badge">Row Advanced</span></a></li>
                        <li><a href="Tabset"><span class="badge">Tabset</span></a></li>
                    </ul>
                </td>
                <td>
                    <h4>Includes</h4>
                    <ul class="allowed">
                        <li><span class="badge text-info">Listing Image</span></li>
                        <li><span class="badge text-info">Title</span></li>
                        <li><span class="badge text-info">Abstract</span></li>
                        <li><span class="badge text-info">Link Text</span></li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</div>

<div style="clear:both"></div>
<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Usage</h4>
        <p></p>

        <br />

        <p class="small"><strong>More information at getbootstrap.com</strong><br />
            <i class="fa fa-external-link-square"></i> <a target="_blank" href="http://getbootstrap.com/components/#media-list">http://getbootstrap.com/components/#media-list</a>
        </p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Examples</h4>
        <h5>Site Builder</h5>
        <img class="img-responsive" src="images/listing/example-listing-sb.jpg" />
        <p><em>Example: </em>Set to display summaries, max summary characters limit of 300, Link Text 'Apply'</p>
        <br />
        <h5>Web</h5>
        <img class="img-responsive" src="images/listing/example-listing-web.jpg" />
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Content Group Options &mdash; Listing</h4>
        <img class="img-responsive" src="images/listing/options-listing.jpg" />
        <br />
        <p>To edit content group options, click the Edit Content Group icon <img src="images/icons/icon-edit.jpg" />. </p>

        <table class="table table-striped table-responsive">
            <tbody>
            <tr>
                <th>Option</th>
                <th>Data Type</th>
                <th>Function</th>
            </tr>
            <tr>
                <td>Start Item</td>
                <td>Content Selector</td>
                <td></td>
            </tr>
            <tr>
                <td>Search All Descendents</td>
                <td>Checkbox</td>
                <td></td>
            </tr>
            <tr>
                <td>Tags</td>
                <td>Selection (multiple)</td>
                <td></td>
            </tr>
            <tr>
                <td>Max Items To Display</td>
                <td>Input</td>
                <td><em>Set to 0 to return all results</em></td>
            </tr>
            <tr>
                <td>Sort Order</td>
                <td>Selection</td>
                <td>Select the sort order using default options<br />
                    <ul>
                        <li>Alphabetical</li>
                        <li>Content Tree Order</li>
                        <li>Newest</li>
                        <li>Oldest</li>
                        <li>Recently Updated</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Display Images</td>
                <td>Checkbox</td>
                <td></td>
            </tr>
            <tr>
                <td>Display Summaries</td>
                <td>Checkbox</td>
                <td></td>
            </tr>
            <tr>
                <td>Max Summary Characters</td>
                <td>Input</td>
                <td></td>
            </tr>
            <tr>
                <td>Link Text</td>
                <td>Input</td>
                <td>Enter Link Text for <strong>all</strong> listing items <i class="fa fa-info-circle"></i></td>
            </tr>
            <tr>
                <td>CSS ID</td>
                <td>Input</td>
                <td>Add ID</td>
            </tr>
            <tr>
                <td>CSS Class</td>
                <td>Input</td>
                <td>Add CSS class</td>
            </tr>
            <tr>
                <td>Style</td>
                <td>Input</td>
                <td>Add CSS styles (inline)</td>
            </tr>
            </tbody>
        </table>
        <p class="alert alert-primary">
            <i class="fa fa-info-circle"></i>
            <span>If <strong>Link Text</strong> is set here, it will override any input entered in the <em>Listing Item</em> content group options.</span>
        </p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Content Group Options &mdash; Listing Item</h4>
        <img class="img-responsive" src="images/listing/options-listing-item.jpg" />
        <br />
        <p>To edit content group options, click the Edit Content Group icon <img src="images/icons/icon-edit.jpg" />. </p>

        <table class="table table-striped table-responsive">
            <tbody>
            <tr>
                <th>Option</th>
                <th>Data Type</th>
                <th>Function</th>
            </tr>
            <tr>
                <td>Listing Image</td>
                <td>Media Library</td>
                <td></td>
            </tr>
            <tr>
                <td>Abstract</td>
                <td>Text Area</td>
                <td></td>
            </tr>

            <tr>
                <td>Link Text</td>
                <td>Input</td>
                <td>Enter Link Text for <strong>individual</strong> listing item <i class="fa fa-info-circle"></i></td>
            </tr>
            </tbody>
        </table>
        <p class="alert alert-primary">
            <i class="fa fa-info-circle"></i>
            <span>If <strong>Link Text</strong> is set in the <em>Listing</em> content group options (parent), it will override any input here.</span>
        </p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Image Select</h4>
        <p>To select an image, click the Choose an Image icon.</p>
        <img class="img-responsive" src="images/listing/options-listing-image-add.jpg" />
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Image Edit</h4>
        <p>To edit an image, click the Modify Image Appearance icon.</p>
        <img class="img-responsive" src="images/listing/options-listing-image-edit.jpg" />
        <br />
        <h5>Image Properties</h5>
        <table class="table table-striped table-responsive">
            <tbody>
            <tr>
                <th>Option</th>
                <th>Data Type</th>
                <th>Function</th>
            </tr>
            <tr>
                <td>Text</td>
                <td>Input</td>
                <td>Alternate Text</td>
            </tr>
            <tr class="disabled">
                <td>Width</td>
                <td>Input</td>
                <td>Set the width of the image if they are different than the dimensions of the original</td>
            </tr>
            <tr class="disabled">
                <td>Height</td>
                <td>Input</td>
                <td>Set the height of the image if they are different than the dimensions of the original</td>
            </tr>
            <tr class="disabled">
                <td>Keep Aspect Ratio</td>
                <td>Checkbox</td>
                <td></td>
            </tr>
            <tr>
                <td>Horizontal space</td>
                <td>Input</td>
                <td>Set the horizontal space around the image</td>
            </tr>
            <tr>
                <td>Vertical Space</td>
                <td>Input</td>
                <td>Set the vertical space around the image</td>
            </tr>
            </tbody>
        </table>
        <p class="alert alert-danger">
            <i class="fa fa-exclamation-triangle"></i>
            Items that are grayed out will not work within this component
        </p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Image Delete</h4>
        <p>To delete an image, click the Remove the Image icon.</p>
        <img class="img-responsive" src="images/listing/options-listing-image-delete.jpg" />
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Allowed Components</h4>
        None
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Code Sample</h4>
        <code>
<pre>
&lt;div class="media"&gt;
    &lt;div class="media-left"&gt;
        &lt;a href="#"&gt;
            &lt;img class="media-object" src="..." alt="..."&gt;
        &lt;/&gt;
    &lt;/div&gt;
    &lt;div class="media-body"&gt;
        &lt;h4 class="media-heading"&gt;Media heading&lt;/h4&gt;
        ...
        <span style="color:#E51B15">&lt;p class="listing-actionlink"&gt;
            &lt;a href="#"&gt;&lt;/a&gt;
        &lt;/p&gt;</span>
    &lt;/div&gt;
&lt;/div&gt;
</pre>
        </code>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Bootstrap Classes</h4>
        <code>
<pre>
.media {
    margin-top: 15px;
}
.media:first-child {
    margin-top: 0;
}
.media-left, .media > .pull-left {
    padding-right: 15px;
}
.media-right, .media > .pull-right {
    padding-left: 15px;
}
.media-right img, .media > .pull-right img,
    .media-left img, .media > .pull-left img {
    margin-bottom: 15px;
}
.media-left, .media-right, .media-body {
    display: table-cell;
    vertical-align: top; /*Horizontal Align top*/
}
.media-middle {
    vertical-align: middle;
}
.media-bottom {
    vertical-align: bottom;
}
</pre>
        </code>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Tips &amp; Troubleshooting</h4>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Restrictions &amp; Dependencies</h4>
    </div>
</div>