<h3>Search Results</h3>

<div class="row">
    <div class="col-xs-5 text-left">
        <img class="img-responsive" src="images/icons/components/search-results.png" />
    </div>
    <div class="col-xs-7 text-left">
        <h4>Allowed In</h4>
        <ul class="allowed">
            <li><a href="Container"><span class="badge">Container</span></a></li>
            <li><a href="Row"><span class="badge">Row</span></a></li>
            <li><a href="Row_Advanced"><span class="badge">Row Advanced</span></a></li>
            <li><a href="Tab_Set"><span class="badge">Tab Set</span></a></li>
        </ul>
    </div>
</div>

<div style="clear:both"></div>
<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Usage</h4>
        <p></p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Example</h4>
        <h5>Web</h5>
        <img class="img-responsive" src="images/searchResults/example-search-results-web.jpg" />
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Content Group Options</h4>
        <img class="img-responsive" src="images/searchResults/options-search-results.jpg" />
        <br />
        <p>To edit content group options, click the Edit Content Group icon <img src="images/icons/icon-edit.jpg" />. </p>

        <table class="table table-striped table-responsive">
            <tbody>
            <tr>
                <th>Option</th>
                <th>Data Type</th>
                <th>Function</th>
            </tr>
            <tr>
                <td>Content Search Root</td>
                <td>Content Selector</td>
                <td></td>
            </tr>
            <tr>
                <td>Media Search Root</td>
                <td>Media Library Selector</td>
                <td></td>
            </tr>
            <tr>
                <td>Maximum Page Links</td>
                <td>Input</td>
                <td><em>Default: '10'</em></td>
            </tr>
            <tr>
                <td>Show Page Size Options</td>
                <td>Checkbox</td>
                <td></td>
            </tr>
            <tr>
                <td>Show Sort Options</td>
                <td>Checkbox</td>
                <td></td>
            </tr>
            <tr>
                <td>Show Description</td>
                <td>Checkbox</td>
                <td></td>
            </tr>
            <tr>
                <td>Show Excerpt</td>
                <td>Checkbox</td>
                <td></td>
            </tr>
            <tr>
                <td>Excerpt Fragment Length</td>
                <td>Input</td>
                <td><em>Default: '50'</em></td>
            </tr>
            <tr>
            <tr>
                <td>Maximum Excerpt Fragments</td>
                <td>Input</td>
                <td><em>Default: '4'</em></td>
            </tr>
            <tr>
            <tr>
                <td>Excerpt Fragment Separator</td>
                <td>Input</td>
                <td><em>Default: '...'</em></td>
            </tr>
            <tr>
                <td>Show Breadcrumb</td>
                <td>Checkbox</td>
                <td></td>
            </tr>
            <tr>
                <td>Breadcrumb Separator</td>
                <td>Input</td>
                <td><em>Default: '>'</em></td>
            </tr>
            <tr>
                <td>Displayed Results Lable - Tokens</td>
                <td>Input</td>
                <td><em>Default: '@firstResult @lastResult @totalResults @query'</em></td>
            </tr>
            <tr>
                <td>Results Per Page Label</td>
                <td>Input</td>
                <td><em>Default: 'Results Per Page:'</em></td>
            </tr>
            <tr>
                <td>Search Query Label</td>
                <td>Input</td>
                <td><em>Default: 'Search Query:'</em></td>
            </tr>
            <tr>
                <td>No Results Text</td>
                <td>Input</td>
                <td><em>Default: 'There are no results for your query. Please try refining your search parameters.'</em></td>
            </tr>
            <tr>
                <td>Sort Label</td>
                <td>Input</td>
                <td><em>Default: 'Sort By:'</em></td>
            </tr>
            <tr>
                <td>Sort By Relevance Label</td>
                <td>Input</td>
                <td><em>Default: 'Best Match'</em></td>
            </tr>
            </tbody>
        </table>
        <!--<p class="alert alert-info">
            <i class="fa fa-info-circle" style="font-size:1.5em;position:relative;top:3px"></i>
            <span>If <strong>Link Text</strong> is set here, it will override any input entered in the <em>Listing Item</em> content group options.</span>
        </p>-->
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Allowed Components</h4>
        None
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Code Sample</h4>
        <code>
<pre>
&lt;div class="col-xs-12 col-md-9"&gt;
    &lt;div class="row"&gt;
        &lt;div class="col-xs-6"&gt;
            &lt;h4&gt;Results 1 - 10 of 4 for "lorem"&lt;/h4&gt;
        &lt;/div&gt;
        &lt;div class="col-xs-6 text-right"&gt;
            &lt;span class="hidden-xs"&gt;Results Per Page:&lt;/span&gt;
            &lt;div class="btn-group" role="group" aria-label="page size"&gt;
                &lt;a href="/Components/Functional/SearchResults?query=lorem&amp;PageSize=10" class="btn btn-default active"&gt;10&lt;/a&gt;
                &lt;a href="/Components/Functional/SearchResults?query=lorem&amp;PageSize=20" class="btn btn-default"&gt;20&lt;/a&gt;
                &lt;a href="/Components/Functional/SearchResults?query=lorem&amp;PageSize=50" class="btn btn-default"&gt;50&lt;/a&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="col-xs-12"&gt;
            &lt;hr&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="search-result"&gt;
        &lt;h4&gt;
            &lt;a href="/en/Components/Navigation/FloatingSubmenu"&gt;Floating Submenu&lt;/a&gt;
        &lt;/h4&gt;
        &lt;p&gt;
            col-xs-12 col-md-9
            Image - Logo
            What is &lt;strong&gt;Lorem&lt;/strong&gt; Ipsum?
            &lt;strong&gt;Lorem&lt;/strong&gt; Ipsum is simply dummy text of the printing and
            typesetting industry. &lt;strong&gt;Lorem&lt;/strong&gt; Ipsum has... containing &lt;strong&gt;Lorem&lt;/strong&gt; Ipsum passages, and more
            recently
        &lt;/p&gt;
        &lt;a href="/Components/Navigation"&gt;Navigation&lt;/a&gt;
        &gt;
        &lt;a href="/Components/Navigation/FloatingSubmenu"&gt;Floating Submenu&lt;/a&gt;
    &lt;/div&gt;
    &lt;div class="search-result"&gt;
        &lt;h4&gt;
            &lt;a href="/en/Components/Navigation/ScrollToTop"&gt;Scroll To Top&lt;/a&gt;
        &lt;/h4&gt;
        &lt;p&gt;
            What is &lt;strong&gt;Lorem&lt;/strong&gt; Ipsum?
            &lt;strong&gt;Lorem&lt;/strong&gt; Ipsum is simply.... &lt;strong&gt;Lorem&lt;/strong&gt; Ipsum has been the industry's standard... of Letraset sheets containing
            &lt;strong&gt;Lorem&lt;/strong&gt; Ipsum passages... like Aldus PageMaker
            including versions of &lt;strong&gt;Lorem&lt;/strong&gt;
        &lt;/p&gt;
        &lt;a href="/Components/Navigation"&gt;Navigation&lt;/a&gt;
        &gt;
        &lt;a href="/Components/Navigation/ScrollToTop"&gt;Scroll To Top&lt;/a&gt;
    &lt;/div&gt;
    &lt;div class="search-result"&gt;
        &lt;h4&gt;
            &lt;a href="/en/Components/Content/Blockquote"&gt;Blockquote&lt;/a&gt;
        &lt;/h4&gt;
        &lt;p&gt;Blockquote|Footer
            Title
            &lt;strong&gt;Lorem&lt;/strong&gt; Ipsum is simply dummy text of the printing and typesetting industry.
            https://fonts.googleapis.com/css?family=Raleway
            all
            col-xs-12 col-md-3
            col-xs-12 col-md-9
        &lt;/p&gt;
        &lt;a href="/Components/Content"&gt;Content&lt;/a&gt;
        &gt;
        &lt;a href="/Components/Content/Blockquote"&gt;Blockquote&lt;/a&gt;
    &lt;/div&gt;
    &lt;div class="search-result"&gt;
        &lt;h4&gt;
            &lt;a href="/en/Components/Content/Jumbotron"&gt;Jumbotron&lt;/a&gt;
        &lt;/h4&gt;
        &lt;p&gt;Jumbotron|Slide 1
            &lt;strong&gt;Lorem&lt;/strong&gt; Ipsum blah blah blah
            https://fonts.googleapis.com/css?family=Raleway
            all
            col-xs-12 col-md-3
            col-xs-12 col-md-9
            col-xs-12 col-md-3
            col-xs-12 col-md-9
            Accelcor Suite
        &lt;/p&gt;
        &lt;a href="/Components/Content"&gt;Content&lt;/a&gt;
        &gt;
        &lt;a href="/Components/Content/Jumbotron"&gt;Jumbotron&lt;/a&gt;
    &lt;/div&gt;
    &lt;nav class="text-center"&gt;
        &lt;ul class="pagination"&gt;
            &lt;li class="disabled"&gt;
                &lt;a&gt;
                    &lt;span aria-hidden="true"&gt; <i class="fa fa-angle-double-left"></i> &lt;/span&gt;
                    &lt;span class="sr-only"&gt;Previous&lt;/span&gt;
                &lt;/a&gt;
            &lt;/li&gt;
            &lt;li class="active"&gt;
                &lt;a href="/Components/Functional/SearchResults?query=lorem&amp;Page=1"&gt;1&lt;/a&gt;
            &lt;/li&gt;
            &lt;li class="disabled"&gt;
                &lt;a&gt;
                    &lt;span aria-hidden="true"&gt; <i class="fa fa-angle-double-right"></i> &lt;/span&gt;
                    &lt;span class="sr-only"&gt;Next&lt;/span&gt;
                &lt;/a&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/nav&gt;
&lt;/div&gt;
</pre>
        </code>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Bootstrap Classes</h4>
        <code>
<pre>
.btn-group,
.btn-group-vertical {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle),
.btn-group > .form-submit:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.search-result {
    margin-bottom: 20px;
}
.search-result h4 {
    margin-bottom: 5px;
}
h4, .h4 {
    font-size: 18px;
}
h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 10px;
}
.search-result p {
    margin-bottom: 0;
}
.pagination {
    border-radius: 4px;
    display: inline-block;
    margin: 20px 0;
    padding-left: 0;
}
.pagination > li {
    display: inline;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    margin-left: 0;
}
.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
    background-color: #0785a4;
    border-color: #0785a4;
    color: #fff;
    cursor: default;
    z-index: 2;
}
.pagination > li > a, .pagination > li > span {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #0785a4;
    float: left;
    line-height: 1.42858;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    background-color: #fff;
    border-color: #ddd;
    color: #777;
    cursor: not-allowed;
}
</pre>
        </code>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Tips &amp; Troubleshooting</h4>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Restrictions &amp; Dependencies</h4>
    </div>
</div>