<h3>Carousel Slide</h3>

<div class="row">
    <div class="col-xs-5 text-left">
        <img class="img-responsive" src="images/icons/components/carousel-slide.png" />
    </div>
    <div class="col-xs-7 text-left">
        <h4>Allowed In</h4>
        <ul class="allowed">
            <li><a href="Carousel"><span class="badge">Carousel</span></a></li>
        </ul>
    </div>
</div>

<div style="clear:both"></div>
<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Usage</h4>
        <p>Insert any number of carousel slides with different configurations to a Carousel.</p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Examples</h4>
        <h5>Site Builder</h5>
        <img class="img-responsive" src="images/carousel/example-carousel-slide-sb.jpg" />
        <!--<p><em>Example: </em><code>max-height:300px;</code></p>-->
        <br />
        <h5>Web</h5>
        <img class="img-responsive" src="images/carousel/example-carousel-slide-web.jpg" />
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Content Group Options</h4>
        <img class="img-responsive" src="images/carousel/options-carousel-slide.jpg" />
        <br />
        <p>To edit content group options, click the Edit Content Group icon <img src="images/icons/icon-edit.jpg" />. </p>

        <table class="table table-striped table-responsive">
            <tbody>
            <tr>
                <th>Option</th>
                <th>Data Type</th>
                <th>Function</th>
            </tr>
            <tr>
                <td>Size</td>
                <td>Selection</td>
                <td><br />
                    <ul>
                        <li>Left &mdash; <code>.text-left</code></li>
                        <li>Right &mdash; <code>.text-right</code></li>
                        <li>Center &mdash; <code>.text-center</code></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Image</td>
                <td>Media Library</td>
                <td>Set background image from media library</td>
            </tr>
            <tr>
                <td>Image Link</td>
                <td>Content Selector</td>
                <td></td>
            </tr>
            tr>
            <td>Image Modal Window Target</td>
            <td>Content Selector</td>
            <td></td>
            </tr>
            tr>
            <td>Header Link</td>
            <td>Content Selector</td>
            <td></td>
            </tr>
            <tr>
                <td>Body</td>
                <td>Text Area</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Add Carousel Slide</h4>
        To insert an carousel slide you must do so from the Carousel item &mdash;<br /><br />
        <ul>
            <li>Using the content tree dropdown, navigate from Carousel Slide to Carousel<br /><br />
                <img class="img-responsive" src="images/carousel/carousel-content-tree.jpg" />
                <br /><br />
            </li>
            <li>click the Insert a new item icon<br /><br />
                <img class="img-responsive" src="images/carousel/options-carousel-add.jpg" /></li>
        </ul>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Carousel Slide Ordering</h4>
        <img class="img-responsive" src="images/carousel/options-carousel-slide-reorder.jpg" />
        <br />
        <p>To reorder carousel slides, click the up or down arrow icons <img src="images/icons/icon-reorder.jpg" />.</p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Carousel Slide Delete</h4>
        <img class="img-responsive" src="images/carousel/options-carousel-slide-delete.jpg" />
        <br />
        <p>To delete a carousel slide, click the Delete Row icon <img src="images/icons/icon-delete.jpg" />.</p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Carousel Slide - Add Button</h4>
        <img class="img-responsive" src="images/carousel/options-carousel-slide-add.jpg" />
        <br />
        <p>To add a link button to the carousel slide, click the plus icon <img src="images/icons/icon-plus.jpg" />.</p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Allowed Components</h4>
        <ul class="allowed">
            <li><a href="Button"><span class="badge">Button</span></a></li>
        </ul>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Code Sample</h4>
        <code>
<pre>
</pre>
        </code>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Slick Plugin Classes</h4>
        <code>
<pre>
</pre>
        </code>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Tips &amp; Troubleshooting</h4>
        <h5>Editing Carousel Slides</h5>
        <p>If you have added more than one Carousel Slide and cannot see it in the editor, make sure you have saved.<br />
            Once saved, the editor will scroll through the slides. When the slide you wish to edit is present - click the edit icon.<br />
            Alternatively, you can reorder the slides so that the one you wish to edit is at position 1.
            To reorder carousel slides, click the up or down arrow icons <img src="images/icons/icon-reorder.jpg" />.</p>
        <h5>Image Sizing</h5>
        <p>Size background images to a relative height and width that you wish for display prior to upload.</p>
        The above example resized appropriately from to 1410x300 results in the full background image filling the contained section.
        <img class="img-responsive" src="images/carousel/example-carousel-slide-web-sized.jpg" />
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Restrictions &amp; Dependencies</h4>
    </div>
</div>