<h3>Carousel</h3>

<div class="row">
    <div class="col-xs-5 text-left">
        <img class="img-responsive" src="images/icons/components/carousel.png" />
    </div>
    <div class="col-xs-7 text-left">
        <h4>Allowed In</h4>
        <ul class="allowed">
            <li><a href="Accordion"><span class="badge">Accordion</span></a></li>
            <li><a href="Container"><span class="badge">Container</span></a></li>
            <li><a href="Row"><span class="badge">Row</span></a></li>
            <li><a href="Row_Advanced"><span class="badge">Row Advanced</span></a></li>
        </ul>
    </div>
</div>

<div style="clear:both"></div>
<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Usage</h4>
        <p>Use a carousel to ...</p>

        <br />

        <p class="small"><strong>Additional Resources</strong><br />
            <i class="fa fa-external-link-square"></i> <a target="_blank" href="http://kenwheeler.github.io/slick/">http://kenwheeler.github.io/slick/</a>
        </p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Example</h4>
        <img class="img-responsive" src="images/carousel/example-carousel-slide-web.jpg" />
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Content Group Options</h4>
        <img class="img-responsive" src="images/carousel/options-carousel.jpg" />
        <br />
        <p>To edit content group options, click the Edit Content Group icon <img src="images/icons/icon-edit.jpg" />. </p>

        <table class="table table-striped table-responsive">
            <tbody>
            <tr>
                <th>Option</th>
                <th>Data Type</th>
                <th>Function</th>
            </tr>
            <tr>
                <td>Show Dots</td>
                <td>Checkbox</td>
                <td>
                </td>
            </tr>
            <tr>
                <td>Loop - disabled in edit mode</td>
                <td>Checkbox</td>
                <td>
                </td>
            </tr>
            <tr>
                <td>Speed</td>
                <td>Input</td>
                <td>
                </td>
            </tr>
            <tr>
                <td>Auto Play - disabled in edit mode</td>
                <td>Checkbox</td>
                <td>
                </td>
            </tr>
            <tr>
                <td>Auto Play Speed</td>
                <td>Input</td>
                <td>
                </td>
            </tr>
            <tr>
                <td>Slides To Show</td>
                <td>Input</td>
                <td></td>
            </tr>
            <tr>
                <td>Slides To Scroll</td>
                <td>Input</td>
                <td></td>
            </tr>
            <tr>
                <td>Adaptive Height</td>
                <td>Checkbox</td>
                <td>
                </td>
            </tr>
            <tr>
                <td>Variable Width</td>
                <td>Checkbox</td>
                <td>
                </td>
            </tr>
            <tr>
                <td>Center Mode</td>
                <td>Checkbox</td>
                <td>
                </td>
            </tr>
            <tr>
                <td>Center Padding</td>
                <td>Input</td>
                <td></td>
            </tr>
            <tr>
                <td>CSS Class</td>
                <td>Input</td>
                <td>Add CSS class</td>
            </tr>
            <tr>
                <td>Style</td>
                <td>Input</td>
                <td>Add CSS styles (inline)</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Add Carousel Slide</h4>
        <img class="img-responsive" src="images/carousel/carousel-empty.jpg" />
        <br />
        <p>To insert an carousel slide, click the Insert a new item icon <img src="images/icons/icon-insert-new.jpg" />.</p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Allowed Components</h4>
        <ul class="allowed">
            <li><a href="Carousel_Slide"><span class="badge">Carousel Slide</span></a></li>
        </ul>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Code Sample</h4>
        <code>
<pre>
</pre>
        </code>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-xs-12">
        <h4>Slick Plugin Classes</h4>
        <code>
<pre>
</pre>
        </code>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Tips &amp; Troubleshooting</h4>
        <p></p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Restrictions &amp; Dependencies</h4>
        <p></p>
    </div>
</div>