<h3>Tab Content</h3>

<div class="row">
    <div class="col-xs-5 text-left">
        <img class="img-responsive" src="images/icons/components/tab-content.png" />
    </div>
    <div class="col-xs-7 text-left">
        <h4>Allowed In</h4>
        <ul class="allowed">
            <li><a href="Tab_Set"><span class="badge">Tab Set</span></a> <small><em>(default)</em></small></li>
        </ul>
    </div>
</div>

<div style="clear:both"></div>
<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Usage</h4>
        <p>Insert tab content items to create tabs in a <a href="Tab_Set">Tab Set</a> with additional Allowed Component options.</p>

    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Example</h4>
        <h5>Site Builder</h5>
        <img class="img-responsive" src="images/tabContent/example-tab-content-sb.jpg" />
        <br />
        <h5>Web</h5>
        <img class="img-responsive" src="images/tabContent/example-tab-content-web.jpg" />
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Tab Content Items</h4>
        <p>The Tab Content component is comprised of a tab title and tab body. Additional Allowed Components can be placed within the tab body.</p>
        <h5>Tab Title</h5>
        <p>Enter the tab title as text &mdash; entry here is rendered <code>h3</code> in the <code>panel-title</code> section.</p>
        <img class="img-responsive" src="images/tabContent/options-tab-content-title.jpg" />
        <br />
        <h5>Tab Body Text</h5>
        <p>Enter tab body text &mdash; entry here is rendered in the <code>panel-body</code> section.<br />
            Note that this item uses the <a href="Rich_Text_(RTE)">Rich Text (RTE)</a> editor so additional HTML can be entered.</p>
        <img class="img-responsive" src="images/tabContent/options-tab-content-body.jpg" />
        <br />
        <h5>Tab Body Placeholder</h5>
        <p>Add additional Allowed Components &mdash; classes here will be relevant to the placed components.</p>
        <img class="img-responsive" src="images/tabContent/options-tab-content-add-component.jpg" />

    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Navigating Tab Content</h4>
        <p>To navigation between tab content items, click on the area surround the title but not in the title area.</p>
        <img class="img-responsive" src="images/tabContent/options-tab-content-navigating.jpg" />
        <br />
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Allowed Components</h4>
        <ul class="allowed">
            <li><a href="Accordion"><span class="badge">Accordion</span></a></li>
            <li><a href="Alert"><span class="badge">Alert</span></a></li>
            <li><a href="Breadcrumb"><span class="badge">Breadcrumb</span></a></li>
            <li><a href="Button"><span class="badge">Button</span></a></li>
            <li><a href="iFrame"><span class="badge">iFrame</span></a></li>
            <li><a href="Image"><span class="badge">Image</span></a></li>
            <li><a href="Jumbotron"><span class="badge">Jumbotron</span></a></li>
            <li><a href="Listing"><span class="badge">Listing</span></a></li>
            <li><a href="Media_Object"><span class="badge">Media Object</span></a></li>
            <li><a href="Panel"><span class="badge">Panel</span></a></li>
            <li><a href="Rich_Text_(RTE)"><span class="badge">Rich Text (RTE)</span></a></li>
            <li><a href="Row"><span class="badge">Row</span></a></li>
            <li><a href="Row_Advanced"><span class="badge">Row Advanced</span></a></li>
            <li><a href="Search_Box"><span class="badge">Search Box</span></a></li>
            <li><a href="Search_Results"><span class="badge">Search Results</span></a></li>
            <li><a href="Secondary_Navigation"><span class="badge">Secondary Navigation</span></a></li>
            <li><a href="Secondary_Navigation_Advanced"><span class="badge text-danger">Secondary Navigation Advanced</span></a></li>
            <li><a href="Simple_Content"><span class="badge">Simple Content</span></a></li>
            <li><a href="Tabset"><span class="badge text-danger">Tabset</span></a></li>
            <li><a href="Table"><span class="badge">Table</span></a></li>
            <li><a href="Thumbnail"><span class="badge text-danger">Thumbnail</span></a></li>
            <li><a href="Video_Embed"><span class="badge">Video Embed</span></a></li>
        </ul>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Code Sample & Classes</h4>
        <p>See <a href="Tab_Set">Tab Set</a> for samples. Additional Components placed within tab content will rely on its component classes.</p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Tips &amp; Troubleshooting</h4>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Restrictions &amp; Dependencies</h4>
    </div>
</div>