<h3>Language Selector</h3>
<h5 class="text-danger">This needs review - need to understand templating for different languages, adding languages, etc</h5>
<br />
<div class="row">
    <div class="col-xs-5 text-left">
        <img class="img-responsive" src="images/icons/components/language-selector.png" />
    </div>
    <div class="col-xs-7 text-left">
        <h4>Allowed In</h4>
        <ul class="allowed">
            <li><a href="Navbar"><span class="badge">Navbar</span></a></li>
            <!--<li><a href="Navbar_Jump"><span class="badge">Navbar Jump Menu</span></a></li>-->
        </ul>
    </div>
</div>

<div style="clear:both"></div>
<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Usage</h4>
        <p></p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Examples</h4>
        <!--<h5>Site Builder</h5>
        <img class="img-responsive" src="images/navbarGoogleTranslator/example-navbar-google-translator-sb.jpg" />
        <br />
        <h5>Web</h5>
        <img class="img-responsive" src="images/navbarGoogleTranslator/example-navbar-google-translator-web.jpg" />-->
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Content Group Options</h4>
        <img class="img-responsive" src="images/navbarGoogleTranslator/options-navbar-google-translator.jpg" />
        <br />
        <p>To edit content group options, click the Edit Content Group icon <img src="images/icons/icon-edit.jpg" />. </p>

        <table class="table table-striped table-responsive">
            <tbody>
            <tr>
                <th>Option</th>
                <th>Data Type</th>
                <th>Function</th>
            </tr>
            <tr>
                <td>Alignment</td>
                <td>Selection</td>
                <td>Select navbar alignment using default class options<br />
                    <ul>
                        <li>Left &mdash; <code>.navbar-left</code></li>
                        <li>Right &mdash; <code>.navbar-right</code></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>CSS Class</td>
                <td>Input</td>
                <td>Add CSS class</td>
            </tr>
            <tr>
                <td>Style</td>
                <td>Input</td>
                <td>Add CSS styles (inline)</td>
            </tr>
            <tr>
                <td>Label Text</td>
                <td>Input</td>
                <td>Leave blank to use global icon</td>
            </tr>

            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
</div>

<hr/>
<div clas="row">
    <div class="col-xs-12">
        <h4>Add a Language</h4>
        <ul>
            <li>Afrikaans</li>
            <li>Albanian</li>
            <li>Arabic</li>
            <li>Azerbaijani</li>
            <li>Basque</li>
            <li>Belarusian</li>
            <li>Bengali</li>
            <li>Bosnian</li>
            <li>Bulgarian</li>
            <li>Catalan</li>
            <li>Chinese Simplified</li>
            <li>Chinese Traditional</li>
            <li>Croatian</li>
            <li>Czech</li>
            <li>Danish</li>
            <li>Dutch</li>
            <li>English</li>
            <li>Esperanto</li>
            <li>Estonian</li>
            <li>Filipino</li>
            <li>Finnish</li>
            <li>French</li>
            <li>Galician</li>
            <li>Georgian</li>
            <li>German</li>
            <li>Greek</li>
            <li>Gujarati</li>
            <li>Haitian Creole</li>
            <li>Hebrew</li>
            <li>Hindi</li>
            <li>Hungarian</li>
            <li>Icelandic</li>
            <li>Indonesian</li>
            <li>Irish</li>
            <li>Italian</li>
            <li>Japanese</li>
            <li>Kannada</li>
            <li>Korean</li>
            <li>Latin</li>
            <li>Latvian</li>
            <li>Lithuanian</li>
            <li>Macedonian</li>
            <li>Malay</li>
            <li>Maltese</li>
            <li>Norwegian</li>
            <li>Persian</li>
            <li>Polish</li>
            <li>Portuguese</li>
            <li>Romanian</li>
            <li>Russian</li>
            <li>Serbian</li>
            <li>Slovak</li>
            <li>Slovenian</li>
            <li>Spanish</li>
            <li>Swahili</li>
            <li>Swedish</li>
            <li>Tamil</li>
            <li>Teluga</li>
            <li>Thai</li>
            <li>Turkish</li>
            <li>Ukranian</li>
            <li>Urdu</li>
            <li>Vietnamese</li>
            <li>Welsh</li>
            <li>Yiddish</li>
        </ul>
    </div>
</div>

<div style="clear:both"></div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Allowed Components</h4>
        None
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Code Sample</h4>
        <code>
<pre>
</pre>
        </code>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-xs-12">
        <h4>Site Builder Classes</h4>
        <code>
<pre>
</pre>
        </code>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Tips &amp; Troubleshooting</h4>
        <p></p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Restrictions &amp; Dependencies</h4>
    </div>
</div>