<h3>Navbar Alternate</h3>

<div class="row">
    <div class="col-xs-4 text-left">
        <img class="img-responsive" src="images/icons/components/navbar-alternate.png" />
    </div>
    <div class="col-xs-8 text-left">
        <table width="100%">
            <tr>
                <td>
                    <h4>Allowed In</h4>
                    <ul class="allowed">
                        <li><a href="Container"><span class="badge">Container</span></a></li>
                        <li><span class="badge text-info">Header</span></li>
                    </ul>
                </td>
                <td>
                    <h4>Includes</h4>
                    <ul class="allowed">
                        <li><span class="badge text-info">Navbar Component</span></li>
                        <li><a href="Navbar_Logo"><span class="badge">Navbar Logo</span></a></li>
                        <li><a href="Navbar_Primary_Nav"><span class="badge">Navbar Primary Nav</span></a></li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</div>

<div style="clear:both"></div>
<hr />

<div class="row usage">
    <div class="col-xs-12">
        <h4>Usage</h4>
        <p>Use Navbar Alternate for included Navbar Logo, Navbar Primary Nav, and Navbar Component (for additional component options).<br />
        <i class="fa fa-exclamation-triangle text-danger"></i> Navbar Alternate can only be placed in Header or Container.</p>
        <p>For other placement (within Row or Row Advanced) or when an included Navbar Primary Nav is not required, use <a href="Navbar">Navbar</a>.
        Navbar Primary Nav can be placed within Navbar Component, but is not included by default.</p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Examples</h4>
        <h5>Site Builder</h5>
        <img class="img-responsive" src="images/navbarAlternate/example-navbar-alternate-sb.jpg" />
        <br />
        <h5>Web</h5>
        <img class="img-responsive" src="images/navbarAlternate/example-navbar-alternate-web.jpg" />
        <br />
        <h5>Fixed "Sticky" Top</h5>
        <img class="img-responsive" src="images/navbarAlternate/example-navbar-alternate-fixed-top.jpg" />
        <br />
        <h5>Fixed "Sticky" Bottom</h5>
        <img class="img-responsive" src="images/navbarAlternate/example-navbar-alternate-fixed-bottom.jpg" />
        <br />
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Content Group Options</h4>
        <img class="img-responsive" src="images/navbarAlternate/options-navbar-alternate.jpg" />
        <br />
        <p>To edit content group options, click the Edit Content Group icon <img src="images/icons/icon-edit.jpg" />. </p>

        <table class="table table-striped table-responsive">
            <tbody>
            <tr>
                <th>Option</th>
                <th>Data Type</th>
                <th>Function</th>
            </tr>
            <tr>
                <td>Navbar Position</td>
                <td>Selection</td>
                <td>Select navbar position using default class options<br />
                    <ul>
                        <li>Page Top &mdash; <code>.navbar-static-top</code></li>
                        <li>Viewport Bottom &mdash; <code>.navbar-fixed-bottom</code> &mdash; Fixed <em>"sticky"</em> bottom navigation</li>
                        <li>Viewport Top &mdash; <code>.navbar-fixed-top</code> &mdash; Fixed <em>"sticky"</em> top navigation</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Mobile Main Icon</td>
                <td>Selection</td>
                <td>Select main navigation icon style using bootstrap default class options<br />
                    <ul>
                        <li>Hamburger &mdash; <code>.fa-bars</code> &mdash; <i class="fa fa-bars"></i></li>
                        <li>Angle Down &mdash; <code>.fa-angle-down</code> &mdash; <i class="fa fa-angle-down"></i></li>
                        <li>Angle Down Double &mdash; <code>.fa-angle-double-down</code>  &mdash; <i class="fa fa-angle-double-down"></i></li>
                        <li>Arrow Down &mdash; <code>.fa-arrow-down</code>  &mdash; <i class="fa fa-arrow-down"></i></li>
                        <li>Caret Down &mdash; <code>.fa-caret-down</code>  &mdash; <i class="fa fa-caret-down"></i></li>
                        <li>Caret Down Square &mdash; <code>.fa-caret-square-o-down</code>  &mdash; <i class="fa fa-caret-square-o-down"></i></li>
                        <li>Chevron Down &mdash; <code>.fa-chevron-down</code>  &mdash; <i class="fa fa-chevron-down"></i></li>
                        <li>Chevron Down Circle &mdash; <code>.fa-chevron-circle-down</code>  &mdash; <i class="fa fa-chevron-circle-down"></i></li>
                        <li>Ellipsis Horizontal &mdash; <code>.fa-ellipsis-h</code>  &mdash; <i class="fa fa-ellipsis-h"></i></li>
                        <li>Ellipsis Vertical &mdash; <code>.fa-ellipsis-v</code>  &mdash; <i class="fa fa-ellipsis-v"></i></li>
                        <li>Grid &mdash; <code>.</code>  &mdash; <i class="fa fa-th"></i></li>
                        <li>Grid Large &mdash; <code>.fa-th-large</code>  &mdash; <i class="fa fa-th-large"></i></li>
                        <li>Menu &mdash; <small>MENU <em>(text)</em></small></li>
                        <li>Plus &mdash; <code>.fa-plus</code>  &mdash; <i class="fa fa-plus"></i></li>
                        <li>Plus Circle &mdash; <code>.fa-plus-circle</code>  &mdash; <i class="fa fa-plus-circle"></i></li>
                        <li>Plus Square &mdash; <code>.fa-plus-square</code>  &mdash; <i class="fa fa-plus-square"></i></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Mobile Utility Icon</td>
                <td>Selection</td>
                <td>Select utility navigation icon style using bootstrap default class options<br />
                    <ul>
                        <li>Search &mdash; <code>.fa-search</code> &mdash; <i class="fa fa-search"></i></li>
                        <li>Angle Down &mdash; <code>.fa-angle-down</code> &mdash; <i class="fa fa-angle-down"></i></li>
                        <li>Angle Down Double &mdash; <code>.fa-angle-double-down</code> &mdash; <i class="fa fa-angle-double-down"></i></li>
                        <li>Arrow Down &mdash; <code>.fa-arrow-down</code> &mdash; <i class="fa fa-arrow-down"></i></li>
                        <li>Caret Down &mdash; <code>.fa-caret-down</code> &mdash; <i class="fa fa-caret-down"></i></li>
                        <li>Caret Down Square &mdash; <code>.fa-caret-square-o-down</code> &mdash; <i class="fa fa-caret-square-o-down"></i></li>
                        <li>Chevron Down &mdash; <code>.fa-chevron-down</code>  &mdash; <i class="fa fa-chevron-down"></i></li>
                        <li>Chevron Down Circle &mdash; <code>.fa-chevron-circle-down</code> &mdash; <i class="fa fa-chevron-circle-down"></i></li>
                        <li>Cog &mdash; <code>.fa-cog</code> &mdash; <i class="fa fa-cog"></i></li>
                        <li>Ellipsis Horizontal &mdash; <code>.fa-ellipsis-h</code> &mdash; <i class="fa fa-ellipsis-h"></i></li>
                        <li>Ellipsis Vertical &mdash; <code>.fa-ellipsis-v</code> &mdash; <i class="fa fa-ellipsis-v"></i></li>
                        <li>Grid &mdash; <code>.</code> &mdash; <i class="fa fa-th"></i></li>
                        <li>Grid Large &mdash; <code>.fa-th-large</code> &mdash; <i class="fa fa-th-large"></i></li>
                        <li>Menu &mdash; <small>MENU <em>(text)</em></small></li>
                        <li>Plus &mdash; <code>.fa-plus</code> &mdash; <i class="fa fa-plus"></i></li>
                        <li>Plus Circle &mdash; <code>.fa-plus-circle</code> &mdash; <i class="fa fa-plus-circle"></i></li>
                        <li>Plus Square &mdash; <code>.fa-plus-square</code> &mdash; <i class="fa fa-plus-square"></i></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>CSS Class</td>
                <td>Input</td>
                <td>Add CSS class</td>
            </tr>
            <tr>
                <td>Style</td>
                <td>Input</td>
                <td>Add CSS styles (inline)</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Allowed Components &mdash; <small><em>(within Navbar Component)</em></small></h4>
        <ul class="allowed">
            <li><a href="Navbar_Primary_Nav"><span class="badge">Navbar Primary Nav</span></a></li>
            <li><a href="Navbar_Utility_Nav"><span class="badge">Navbar Utility Nav</span></a></li>
            <li><a href="Navbar_Font_Resizer"><span class="badge">Navbar Font Resizer</span></a></li>
            <li><a href="Navbar_Google_Translator"><span class="badge">Navbar Google Translator</span></a></li>
            <li><a href="Navbar_Search_Box"><span class="badge">Navbar Search Box</span></a></li>
            <li><a href="Rich_Text_Editor"><span class="badge">Rich Text Editor</span></a></li>
            <li><a href="Toolbar"><span class="badge">Toolbar</span></a></li>
            <li><a href="Language Selector"><span class="badge">Language Selector</span></a></li>
        </ul>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Code Sample</h4>
        <code>
<pre>
&lt;div class="navbar navbar-default navbar-static-top" role="navigation"&gt;
    &lt;div class="container"&gt;
        &lt;div class="navbar-header"&gt;
            &lt;button type="button" class="navbar-toggle collapsed mobilePrimary" data-toggle="collapse" data-target="#"&gt;
                &lt;span class="sr-only"&gt;Toggle navigation&lt;/span&gt;
                &lt;i class="fa fa-bars"&gt;&lt;/i&gt;
            &lt;/button&gt;
            &lt;button type="button" class="navbar-toggle collapsed mobileUtility" data-toggle="collapse" data-target="#"&gt;
                &lt;span class="sr-only"&gt;Toggle search&lt;/span&gt;
                &lt;i class="fa fa-cog"&gt;&lt;/i&gt;
            &lt;/button&gt;
            &lt;a href="/GenericSampleCompany" class="navbar-brand" style="height: 90px; " title="My Pet Veterinary Center"&gt;
                &lt;img src="/-/media/Images/[image].ashx?h=137&amp;w=440&amp;la=en" alt="Sample Logo"&gt;
            &lt;/a&gt;
        &lt;/div&gt;
        &lt;div id="a91d7b9cc7af4ac18a9abd4b7e170034" class="navbar-collapse collapse"&gt;
            &lt;div class="navbar-form navbar-right" style=""&gt;
                &lt;form action="/GenericSampleCompany/SearchResults" method="get"&gt;
                    &lt;div class="input-group"&gt;
                        &lt;input class="form-control" name="query" placeholder="Search" type="text"&gt;
            &lt;span class="input-group-btn"&gt;
                &lt;button class="btn btn-default" type="submit"&gt;
                    &lt;i class="fa fa-search"&gt;&lt;/i&gt;
                &lt;/button&gt;
            &lt;/span&gt;
                    &lt;/div&gt;
                &lt;/form&gt;
            &lt;/div&gt;
            &lt;div class="" style=""&gt;
                &lt;ul class="nav navbar-nav navbar-right utility-nav sm" data-smartmenus-id=""&gt;
                    &lt;li&gt;
                        &lt;a href="tel:888-888-8888"&gt;Call Now!&lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li&gt;
                        &lt;a href="/GenericSampleCompany/Register"&gt;Register&lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li&gt;
                        &lt;a href="#" class="nav-login" data-toggle="modal" data-target="#ModalWindowLogin"&gt;Login&lt;/a&gt;
                    &lt;/li&gt;
                &lt;/ul&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="main-nav"&gt;
        &lt;div class="container"&gt;
            &lt;div id="" class="navbar-collapse collapse"&gt;
                &lt;ul class="nav navbar-nav navbar-left primary-nav sm" style="" data-smartmenus-id=""&gt;
                    &lt;li&gt;
                        &lt;a href="/GenericSampleCompany/About" title="About Us"&gt;
                            &lt;span style="" class=""&gt;About Us&lt;/span&gt;
                        &lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li&gt;
                        &lt;a href="/GenericSampleCompany/About/OurTeam" title="Our Team"&gt;
                            &lt;span style="" class=""&gt;Our Team&lt;/span&gt;
                        &lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li&gt;
                        &lt;a href="/GenericSampleCompany/Services" title="Services"&gt;
                            &lt;span style="" class=""&gt;Services&lt;/span&gt;
                        &lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li&gt;
                        &lt;a href="/GenericSampleCompany/ResourceCenter" title="Resource Center"&gt;
                            &lt;span style="" class=""&gt;Resource Center&lt;/span&gt;
                        &lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li&gt;
                        &lt;a href="/GenericSampleCompany/Gallery" title="Gallery"&gt;
                            &lt;span style="" class=""&gt;Gallery&lt;/span&gt;
                        &lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li&gt;
                        &lt;a href="/GenericSampleCompany/About/Contact" title="Contact Us"&gt;
                            &lt;span style="" class=""&gt;Contact Us&lt;/span&gt;
                        &lt;/a&gt;
                    &lt;/li&gt;
                &lt;/ul&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</pre>
        </code>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Classes</h4>
        <code>
<pre>
.navbar-default {
    background-color: #fff;
    border-color: #fff;
}
.container > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-header,
.container-fluid > .navbar-collapse {
    margin-left:0;
    margin-right:0 <!--this should be corrected to margin-right: 15px;-->
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #e7e7e7;
}
.navbar-static-top {
    border-radius: 0;
    border-width: 0 0 1px;
    z-index: 1000;
}
.navbar-fixed-top .navbar-collapse,
.navbar-static-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}
.navbar-fixed-top {
    border-width: 0 0 1px;
    top: 0;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    border-radius: 0;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1030;
}

/*logo*/
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
}
.navbar-brand {
    float: left;
    font-size: 18px;
    height: 60px;
    line-height: 40px;
    max-width: 220px;
    padding: 10px 15px;
}
.navbar-brand > img {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
    width: auto;
}
.navbar-form {
    border: 0 none;
    box-shadow: none;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
    padding-top: 0;
    width: auto;
}

.navbar-nav {
    float: left;
    margin: 0;
}
.navbar-right {
    float: right !important;
}

.navbar-nav > li {
    float: left;
}

/*utility*/
.utility-nav {
    font-size: 12px;
}

/*primary*/
.main-nav {
    border-top: 1px solid #e7e7e7;
    clear: both;
    display: block;
}
.main-nav .navbar-nav {
    padding: 0;
}
.navbar-nav.primary-nav > li {
    text-align: center;
    width: 16%;
}
</pre>
        </code>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Tips &amp; Troubleshooting</h4>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Restrictions &amp; Dependencies</h4>
    </div>
</div>