<h3>iFrame</h3>

<div class="row">
    <div class="col-xs-5 text-left">
        <img class="img-responsive" src="images/icons/components/iframe.png" />
    </div>
    <div class="col-xs-7 text-left">
        <h4>Allowed In</h4>
        <ul class="allowed">
            <li><a href="Accordion"><span class="badge">Accordion</span></a></li>
            <li><a href="Container"><span class="badge">Container</span></a></li>
            <li><a href="Modal_"><span class="badge">Modal</span></a></li>
            <li><a href="Panel"><span class="badge">Panel</span></a></li>
            <li><a href="Row"><span class="badge">Row</span></a></li>
            <li><a href="Row_Advanced"><span class="badge">Row Advanced</span></a></li>
            <li><a href="Tabset"><span class="badge">Tabset</span></a></li>
        </ul>
    </div>
</div>

<div style="clear:both"></div>
<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Usage</h4>
        <p>Use iFrame to embed third party iFrame URLs, for example, Google Maps and YouTube videos.</p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Example</h4>
        <img class="img-responsive" src="images/iFrame/example-iFrame.jpg" />
        <caption><small><em><a target="_blank" href="http://poc781.helpshow.me/GenericSampleCompany/About/Contact">Example Website</a></em></small></caption>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Content Group Options</h4>
        <img class="img-responsive" src="images/iFrame/options-iframe.jpg" />
        <br />
        <p>To edit content group options, click the Edit Content Group icon <img src="images/icons/icon-edit.jpg" />.  <i class="fa fa-warning text-danger fa-2x"></i></p>

        <table class="table table-striped table-responsive">
            <tbody>
            <tr>
                <th>Option</th>
                <th>Data Type</th>
                <th>Function</th>
            </tr>
            <tr>
                <td>Embed Target Page</td>
                <td>Content Selector</td>
                <td></td>
            </tr>
            <tr>
                <td>iFrame Title</td>
                <td>Input</td>
                <td></td>
            </tr>
            <tr>
                <td>iFrame Width</td>
                <td>Input</td>
                <td></td>
            </tr>
            <tr>
                <td>iFrame Height</td>
                <td>Input</td>
                <td></td>
            </tr>
            <tr>
                <td>iFrame Not Supported Text</td>
                <td>Input</td>
                <td></td>
            </tr>
            <tr>
                <td>CSS Class</td>
                <td>Input</td>
                <td>Add CSS class</td>
            </tr>
            <tr>
                <td>Style</td>
                <td>Input</td>
                <td>Add CSS styles (inline)</td>
            </tr>
            </tbody>
        </table>
        <p class="alert alert-danger">
            <i class="fa fa-warning text-danger"></i>
            <span>Update content group options within the Content Editor &mdash; when updating from Experience Editor, page errors on Save.</span>
        </p>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-xs-12">
        <h4>Code &amp; Classes</h4>
        Not applicable &mdash; third party
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Allowed Components</h4>
        None
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Tips &amp; Troubleshooting</h4>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Restrictions &amp; Dependencies</h4>
    </div>
</div>
