<h3>Alert</h3>

<div class="row">
    <div class="col-xs-5 text-left">
        <img class="img-responsive" src="images/icons/components/alert.png" />
    </div>
    <div class="col-xs-7 text-left">
        <h4>Allowed In</h4>
        <ul class="allowed">
            <li><a href="Accordion"><span class="badge">Accordion</span></a></li>
            <li><a href="Billboard_Slide"><span class="badge">Billboard Slide</span></a></li>
            <li><a href="Container"><span class="badge">Container</span></a></li>
            <li><a href="Modal_"><span class="badge">Modal</span></a></li>
            <li><a href="Row"><span class="badge">Row</span></a></li>
            <li><a href="Row_Advanced"><span class="badge">Row Advanced</span></a></li>
            <li><a href="Tabset"><span class="badge">Tabset</span></a></li>
        </ul>
    </div>
</div>

<div style="clear:both"></div>
<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Usage</h4>
        <p>Provide contextual feedback messages for typical user actions using default bootstrap contextual classes
            (<code>.danger</code>-<code>.primary</code>-<code>.info</code>-<code>.success</code>-<code>.warning</code>).<br />
            Use the contextual class <code>.primary</code> to define custom alert styles in the Custom Stylesheet CSS. <br />
            Optionally, configure to add a dismiss button to close the alert and if the alert should show again in a certain days time or never show again.</p>

        <br />

        <p class="small"><strong>More information at getbootstrap.com</strong><br />
            <i class="fa fa-external-link-square"></i> <a target="_blank" href="http://getbootstrap.com/components/#alerts">http://getbootstrap.com/components/#alerts</a>
        </p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Examples</h4>
        <h5>Site Builder</h5>
        <img class="img-responsive" src="images/alert/example-alert-sb.jpg" />
        <br />
        <h5>Web</h5>
        <img class="img-responsive" src="images/alert/example-alert-web.jpg" />
        <br />
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Content Group Options</h4>
        <img class="img-responsive" src="images/alert/options-alert.jpg" />
        <br />
        <p>To edit content group options, click the Edit Content Group icon <img src="images/icons/icon-edit.jpg" />. </p>

        <table class="table table-striped table-responsive">
            <tbody>
            <tr>
                <th>Option</th>
                <th>Data Type</th>
                <th>Function</th>
            </tr>
            <tr>
                <td>Message</td>
                <td>Rich Text (RTE)</td>
                <td>
                 </td>
            </tr>
            <tr>
                <td>Include Close Button</td>
                <td>Checkbox</td>
                <td>Applies <code>.alert-dismissable</code> class
                </td>
            </tr>
            <tr>
                <td>Days until Alert returns when closed</td>
                <td>Input</td>
                <td>
                </td>
            </tr>
            <tr>
                <td>Alert will not reappear once its closed</td>
                <td>Checkbox</td>
                <td>
                </td>
            </tr>
            <tr>
                <td>Contextual CSS Class</td>
                <td>Selection</td>
                <td>Select alert styles using bootstrap default class options<br />
                    <ul>
                        <li>Danger &mdash; <code>.alert-danger</code></li>
                        <li>Info &mdash; <code>.alert-info</code></li>
                        <li>Primary &mdash; <code>.alert-primary</code></li>
                        <li>Success &mdash; <code>.alert-success</code></li>
                        <li>Warning &mdash; <code>.alert-warning</code></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>CSS Class</td>
                <td>Input</td>
                <td>Add CSS class <i class="fa fa-exclamation-triangle text-danger"></i></td>
            </tr>
            <tr>
                <td>Style</td>
                <td>Input</td>
                <td>Add CSS styles (inline)</td>
            </tr>
            </tbody>
        </table>
        <p class="alert alert-danger">
            <i class="fa fa-exclamation-triangle"></i>
            Classes added here are not populating &mdash; add a class to the parent element instead
        </p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Allowed Components</h4>
        <ul class="allowed">
            <li>None</li>
        </ul>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Code Sample</h4>
        <code>
<pre>
&lt;div class="alert alert-primary" role="alert" style="" data-alert-id="" data-alert-returns="0"&gt;
   ...
&lt;/div&gt;
</pre>
        </code>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Bootstrap Classes</h4>
        <code>
<pre>
.alert {
    border:1px solid transparent;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 15px;
}
.alert-dismissible {
    padding-right: 35px;
}
.alert-primary {
}
.alert-danger {
background-color: #fdf7f7;
border-color: #d9534f;
color: #d9534f;
}
.alert-info {
background-color: #bfecf0;
border-color: #2aabb9;
color: #2aabb9;
}
.alert-success {
    background-color: #fff;
    border-color: #809f3d;
    color: #809f3d;
}
.alert-warning {
    background-color: #fae5db;
    border-color: #e36526;
    color: #e36526;
}
</pre>
        </code>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Tips &amp; Troubleshooting</h4>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Restrictions &amp; Dependencies</h4>
    </div>
</div>
