<h3>Button</h3>

<div class="row">
    <div class="col-xs-5 text-left">
        <img class="img-responsive" src="images/icons/components/button.png" />
    </div>
    <div class="col-xs-7 text-left">
        <h4>Allowed In</h4>
        <ul class="allowed">
            <li><a href="Accordion"><span class="badge">Accordion</span></a></li>
            <li><a href="Billboard_Slide"><span class="badge">Billboard Slide</span></a></li>
            <li><a href="Carousel"><span class="badge">Carousel</span></a></li>
            <li><a href="Container"><span class="badge">Container</span></a></li>
            <li><a href="Jumbotron"><span class="badge">Jumbotron</span></a></li>
            <li><a href="Panel"><span class="badge">Panel</span></a></li>
            <li><a href="Row"><span class="badge">Row</span></a></li>
            <li><a href="Row_Advanced"><span class="badge">Row Advanced</span></a></li>
            <li><a href="Tabset"><span class="badge">Tabset</span></a></li>
        </ul>
    </div>
</div>

<div style="clear:both"></div>
<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Usage</h4>
        <p>Use Button for additional navigation or call to actions elements.</p>

        <br />
        <p class="small"><strong>More information at getbootstrap.com</strong><br />
            <i class="fa fa-external-link-square"></i> <a target="_blank" href="http://getbootstrap.com/components/#btn-groups">http://getbootstrap.com/components/#btn-groups</a><br />
            <i class="fa fa-external-link-square"></i> <a target="_blank" href="http://getbootstrap.com/components/#btn-dropdowns">http://getbootstrap.com/components/#btn-dropdowns</a>
        </p>
        <p class="small"><strong>Additional Resources</strong><br />
            <i class="fa fa-external-link-square"></i> <a target="_blank" href="http://www.w3schools.com/bootstrap/bootstrap_ref_css_buttons.asp">http://www.w3schools.com/bootstrap/bootstrap_ref_css_buttons.asp</a>
        </p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Examples</h4>
        <h5>Contextual Classes</h5>
        <div class="col-xs-12 col-md-2">
            <button class="btn btn-default">Default</button><br />
            <code>.btn-default</code>
        </div>
        <div class="col-xs-12 col-md-2">
            <button class="btn btn-danger">Danger</button><br />
            <code>.btn-danger</code>
        </div>
        <div class="col-xs-12 col-md-2">
            <button class="btn btn-info">Info</button><br />
            <code>.btn-info</code>
        </div>
        <div class="col-xs-12 col-md-2">
            <button class="btn btn-primary">Primary</button><br />
            <code>.btn-primary</code>
        </div>
        <div class="col-xs-12 col-md-2">
            <button class="btn btn-success">Success</button><br />
            <code>.btn-success</code>
        </div>
        <div class="col-xs-12 col-md-2">
            <button class="btn btn-warning">Warning</button><br />
            <code>.btn-warning</code>
        </div>
    </div>
    <div style="clear:both"></div>
    <br />
    <div class="col-xs-12">
        <h5>Sizes</h5>
        <div class="col-xs-12 col-md-2">
            <button class="btn btn-default btn-lg">Large</button><br />
            <code>.btn-lg</code>
        </div>
        <div class="col-xs-12 col-md-2">
            <button class="btn btn-default btn-sm">Small</button><br />
            <code>.btn-sm</code>
        </div>
        <div class="col-xs-12 col-md-2">
            <button class="btn btn-default btn-xs">Extra Small</button><br />
            <code>.btn-xs</code>
        </div>
    </div>
    <div style="clear:both"></div>
    <br />
    <div class="col-xs-12">
        <h5>Full Width</h5>
        <div class="col-xs-12">
            <button class="btn btn-default btn-block">Block</button>
            <code>.btn-block</code>
        </div>
    </div>
    <div style="clear:both"></div>
    <br />
    <div class="col-xs-12">
        <h5>Link Style</h5>
        <div class="col-xs-12">
            <button class="btn btn-default btn-link">Linkk</button>
            <code>.btn-link</code>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Content Group Options</h4>
        <img class="img-responsive" src="images/button/options-button.jpg" />
        <br />
        <p>To edit content group options, click the Edit Content Group icon <img src="images/icons/icon-edit.jpg" />. </p>

        <table class="table table-striped table-responsive">
            <tbody>
            <tr>
                <th>Option</th>
                <th>Data Type</th>
                <th>Function</th>
            </tr>
            <tr>
                <td>Button Text</td>
                <td>Input</td>
                <td></td>
            </tr>
            <tr>
                <td>Button Link</td>
                <td>Content Tree Selector</td>
                <td>
                </td>
            </tr>
            <tr>
                <td>Button Size</td>
                <td>Selection</td>
                <td>Select alert styles using bootstrap default class options<br />
                    <ul>
                        <li>Large Button &mdash; <code>.btn-lg</code></li>
                        <li>Small Button &mdash; <code>.btn-sm</code></li>
                        <li>Extra Small Button &mdash; <code>.btn-xs</code></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Full Width Button</td>
                <td>Checkbox</td>
                <td>Check this if you want the button to fill the width of the component</td>
            </tr>
            <tr>
                <td>Display as Hyperlink</td>
                <td>Checkbox</td>
                <td></td>
            </tr>
            <tr>
                <td>Modal Window Target</td>
                <td>Content Tree Selector</td>
                <td>
                </td>
            </tr>
            <tr>
                <td>Contextual CSS Class</td>
                <td>Selection</td>
                <td>Select alert styles using bootstrap default class options<br />
                    <ul>
                        <li>Danger &mdash; <code>.btn-danger</code></li>
                        <li>Info &mdash; <code>.btn-info</code></li>
                        <li>Primary &mdash; <code>.btn-primary</code></li>
                        <li>Success &mdash; <code>.btn-success</code></li>
                        <li>Warning &mdash; <code>.btn-warning</code></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>CSS Class</td>
                <td>Input</td>
                <td>Add CSS class</td>
            </tr>
            <tr>
                <td>Style</td>
                <td>Input</td>
                <td>Add CSS styles (inline)</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Allowed Components</h4>
        None
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Code Sample</h4>
        <code>
<pre>
&lt;a role="button" class="btn btn-danger" style="" href="#" data-target="#"&gt;Button - Danger&lt;/a&gt;
&lt;a role="button" class="btn btn-info" style="" href="#" data-target="#"&gt;Button - Info&lt;/a&gt;
&lt;a role="button" class="btn btn-primary" style="" href="#" data-target="#"&gt;Button - Primary&lt;/a&gt;
&lt;a role="button" class="btn btn-success" style="" href="#" data-target="#"&gt;Button - Success&lt;/a&gt;
&lt;a role="button" class="btn btn-warning" style="" href="#" data-target="#"&gt;Button - Warning&lt;/a&gt;
&lt;a role="button" class="btn btn-default btn-lg" style="" href="#" data-target="#"&gt;Button - Large&lt;/a&gt;
&lt;a role="button" class="btn btn-default btn-sm" style="" href="#" data-target="#"&gt;Button - Small&lt;/a&gt;
&lt;a role="button" class="btn btn-default btn-xs" style="" href="#" data-target="#"&gt;Button - Extra Small&lt;/a&gt;
&lt;a role="button" class="btn btn-default btn-default btn-block" style="" href="#" data-target="#"&gt;Button - Full Width&lt;/a&gt;
&lt;a role="button" class="btn btn-link" style="" href="#" data-target="#"&gt;Button - Hyperlink&lt;/a&gt;
</pre>
        </code>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-xs-12">
        <h4>Bootstrap Classes</h4>
        <code>
<pre>
.btn-danger {
    background-color: #d9534f;
    border-color: #d43f3a;
    color: #fff;
}
.btn-info {
    background-color: #2aabb9;
    border-color: #2598a4;
    color: #fff;
}
.btn-primary {
    background-color: #0785a4;
    border-color: #06718c;
    color: #fff;
}
.btn-success {
    background-color: #809f3d;
    border-color: #718d36;
    color: #fff;
}
.btn-warning {
    background-color: #e36526;
    border-color: #d4591b;
    color: #fff;
}
.btn-lg, .btn-group-lg > .btn, .btn-group-lg > .form-submit {
    border-radius: 6px;
    font-size: 18px;
    line-height: 1.33;
    padding: 10px 16px;
}
.btn-sm, .btn-group-sm > .btn, .btn-group-sm > .form-submit {
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
    padding: 5px 10px;
}
.btn-xs, .btn-group-xs > .btn, .btn-group-xs > .form-submit {
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
    padding: 1px 5px;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn-link {
    border-radius: 0;
    color: #0785a4;
    font-weight: normal;
}
</pre>
        </code>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Tips &amp; Troubleshooting</h4>
        <p></p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Restrictions &amp; Dependencies</h4>
        <p></p>
    </div>
</div>