<h3>Navbar Search Box</h3>

<p class="alert alert-danger">
"NetworkError: 404 Not Found - http://poc781.helpshow.me/Areas/AccelcorSiteBuilder/Content/fonts/fontawesome-webfont.woff2?v=4.6.3"
</p>

<div class="row">
    <div class="col-xs-4 text-left">
        <img class="img-responsive" src="images/icons/components/search-box.png" />
    </div>
    <div class="col-xs-8 text-left">
        <table width="100%">
            <tr>
                <td>
                    <h4>Allowed In</h4>
                    <ul class="allowed">
                        <li><a href="Navbar"><span class="badge">Navbar</span></a></li>
                        <li><a href="Navbar_Alternate"><span class="badge">Navbar Alternate</span></a></li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</div>

<div style="clear:both"></div>
<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Usage</h4>
        <p>Use Navbar Search Box for a search box within <a href="Navbar">Navbar</a> or <a href="Navbar_Alternate">Navbar Alternate</a>.
            For a search box outside of a Navbar, use <a href="Search_Box">Search Box</a>.</p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Example</h4>
            <img class="img-responsive" src="images/navbarSearchBox/example-navbar-search-box-web.jpg" />
    </div>
</div>

<hr />

<div class="row search-box-contextual">
    <div class="col-xs-12">
        <h4>Examples - Contextual Classes</h4>

        <div class="col-xs-12 col-md-4">
            <img class="img-responsive" src="images/searchBox/example-search-box-default.jpg" />
            <code>.btn-default</code>
        </div>
        <div class="col-xs-12 col-md-4">
            <img class="img-responsive" src="images/searchBox/example-search-box-danger.jpg" />
            <code>.btn-danger</code>
        </div>
        <div class="col-xs-12 col-md-4">
            <img class="img-responsive" src="images/searchBox/example-search-box-info.jpg" />
            <code>.btn-info</code>
        </div>
    </div>
    <div style="clear:both"></div>
    <div class="col-xs-12">
        <div class="col-xs-12 col-md-4">
            <img class="img-responsive" src="images/searchBox/example-search-box-primary.jpg" />
            <code>.btn-primary</code>
        </div>
        <div class="col-xs-12 col-md-4">
            <img class="img-responsive" src="images/searchBox/example-search-box-success.jpg" />
            <code>.btn-success</code>
        </div>
        <div class="col-xs-12 col-md-4">
            <img class="img-responsive" src="images/searchBox/example-search-box-warning.jpg" />
            <code>.btn-warning</code>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Content Group Options</h4>
        <img class="img-responsive" src="images/navbarSearchBox/options-navbar-search-box.jpg" />
        <br />
        <p>To edit content group options, click the Edit Content Group icon <img src="images/icons/icon-edit.jpg" />.</p>

        <table class="table table-striped table-responsive">
            <tbody>
            <tr>
                <th>Option</th>
                <th>Data Type</th>
                <th>Function</th>
            </tr>
            <tr>
                <td>Search Text</td>
                <td>Input</td>
                <td>Enter search input placeholder text</td>
            </tr>
            <tr>
                <td>Search Button Icon</td>
                <td>Selection</td>
                <td>Select search button icon style using bootstrap default class options<br />
                    <ul>
                        <li>Search &mdash; <code>.fa fa-search</code> &mdash; <i class="fa fa-search"></i></li>
                        <li>Angle Right &mdash; <code>.fa fa-angle-right</code> &mdash; <i class="fa fa-angle-right"></i></li>
                        <li>Long Arrow Right  &mdash; <code>.fa fa-long-arrow-right</code> &mdash; <i class="fa fa-long-arrow-right"></i></li>
                        <li>Arrow Circle Right &mdash; <code>.fa fa-arrow-circle-right</code> &mdash; <i class="fa fa-arrow-circle-right"></i></li>
                        <li>Arrow Circle Right Open &mdash; <code>.fa fa-arrow-circle-o-right</code> &mdash; <i class="fa fa-arrow-circle-o-right"></i></li>
                        <li>Arrow Right  &mdash; <code>.fa fa-arrow-right</code> &mdash; <i class="fa fa-arrow-right"></i></li>
                        <li>Caret Right &mdash; <code>.fa fa-caret-right</code> &mdash; <i class="fa fa-caret-right"></i></li>
                        <li>Caret Square Right &mdash; <code>.fa fa-caret-square-o-right</code> &mdash; <i class="fa fa-caret-square-o-right"></i></li>
                        <li>Chevron Right &mdash; <code>.fa fa-chevron-right</code> &mdash; <i class="fa fa-chevron-right"></i></li>
                        <li><span class="text-danger">Chevron (typo)</span> Circle Right &mdash; <code>.fa fa-chevron-circle-right</code> &mdash; <i class="fa fa-chevron-circle-right"></i></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Search Results Page</td>
                <td>Content Selector</td>
                <td>Select the Search Result page</td>
            </tr>

            <tr>
                <td>Query Parameter Name</td>
                <td>Input</td>
                <td><em>Default: 'query'</em></td>
            </tr>
            <tr>
                <td>Fill search box with existing query</td>
                <td>Checkbox</td>
                <td></td>
            </tr>
            <tr>
                <td>Input Size</td>
                <td>Selection</td>
                <td>Select input size using bootstrap default class options<br />
                    <ul>
                        <li>(Blank): 14px</li>
                        <li>Large: 18px &mdash; <code>.input-group-lg</code></li>
                        <li>Small: 12px &mdash; <code>.input-group-sm</code></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Alignment</td>
                <td>Selection</td>
                <td>Select alignment using bootstrap default class options <!--<i class="fa fa-warning text-danger"></i>--><br />
                    <ul>
                        <li>(Blank)</li>
                        <li>Left</li>
                        <li>Right</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Clear Float</td>
                <td>Checkbox</td>
                <td></td>
            </tr>
            <tr>
                <td>Contextual CSS Class</td>
                <td>Selection</td>
                <td>Select panel styles using bootstrap default class options<br />
                    <ul>
                        <li>(Blank) &mdash; <code>.btn-default</code></li>
                        <li>Danger &mdash; <code>.btn-danger</code></li>
                        <li>Info &mdash; <code>.btn-info</code></li>
                        <li>Primary &mdash; <code>.btn-primary</code></li>
                        <li>Success &mdash; <code>.btn-success</code></li>
                        <li>Warning &mdash; <code>.btn-warning</code></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>CSS Class</td>
                <td>Input</td>
                <td>Add CSS class</td>
            </tr>
            <tr>
                <td>Style</td>
                <td>Input</td>
                <td>Add CSS styles (inline)</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Allowed Components</h4>
        None
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Code Sample</h4>
        <code>
<pre>
&lt;div class="navbar-form navbar-right" style=""&gt;
    &lt;form action="" method="get"&gt;
        &lt;div class="input-group"&gt;
            &lt;input class="form-control" name="query" placeholder="Search" type="text"&gt;
            &lt;span class="input-group-btn"&gt;
                &lt;button class="btn btn-default" type="submit"&gt;
                    &lt;i class="fa fa-search"&gt;&lt;/i&gt;
                &lt;/button&gt;
            &lt;/span&gt;
        &lt;/div&gt;

    &lt;/form&gt;
&lt;/div&gt;
</pre>
        </code>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Bootstrap Classes</h4>
        <code>
<pre>
.navbar-left {
    float: left !important;
}
.navbar-right {
    float: right !important;
}
.navbar-form .input-group {
    display: inline-table;
    vertical-align: middle;
}
.form-control, .field-content select,
.field-content .field-datebox-content,
.field-datebox-content,
.text-box, .field-datepicker,
#google-translate .goog-te-gadget {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42858;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.input-group-btn > .btn, .input-group-btn > .form-submit {
    position: relative;
}
.input-group-btn {
    position: relative;
    white-space: nowrap;
}
.input-group-addon, .input-group-btn {
    vertical-align: middle;
}
</pre>
        </code>
        <p class="alert alert-primary">Find contextual button classes in <a href="Button">Button</a></p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Tips &amp; Troubleshooting</h4>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Restrictions &amp; Dependencies</h4>

        <p class="alert alert-danger">
            CSS issues if inserted as navbar component in nav alternate because defaults alignment right
<pre>
<code>
    .navbar-right.navbar-form, .navbar-right .navbar-form {
    margin-right: -15px;
    }
    should be:
    .navbar-right.navbar-form, .navbar-right .navbar-form {
    margin-right: 15px;
    }
</code>
</pre>
        </p>

        <p class="alert alert-info">
            this is the problem!!
<pre>
<code>
    .container > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-header,
    .container-fluid > .navbar-collapse {
    margin-right: 15px;
    }
    @media(max-width:767px) {
    .container > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-header,
    .container-fluid > .navbar-collapse {
    margin-right: 0;
    }
    }
</code>
</pre>
        </p>

    </div>
</div>