<h3>Rich Text Editor (RTE)</h3>

<div class="row">
    <div class="col-xs-5 text-left">
        <img class="img-responsive" src="images/icons/components/rich-text.png" />
    </div>
    <div class="col-xs-7 text-left">
        <h4>Allowed In</h4>
        <ul class="allowed">
            <li><a href="Accordion"><span class="badge">Accordion</span></a></li>
            <li><a href="Billboard_Slide"><span class="badge text-danger">Billboard Slide (Caption)</span></a></li>
            <li><a href="Container"><span class="badge">Container</span></a></li>
            <li><span class="badge text-info">Footer</span></li>
            <li><a href="Modal_Window"><span class="badge">Modal Window</span></a></li>
            <li><a href="#"><span class="badge text-danger">Navbar Component</span></a></li>
            <li><a href="Panel"><span class="badge">Panel</span></a></li>
            <li><a href="Row"><span class="badge">Row</span></a></li>
            <li><a href="Row_(Advanced)"><span class="badge">Row Advanced</span></a></li>
            <li><a href="Tabset"><span class="badge">Tabset</span></a></li>
        </ul>
    </div>
</div>

<div style="clear:both"></div>
<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Usage</h4>
        <p>Use Rich Text Editor for complex sections where you require WYSIWYG ("What You See Is What You Get") editor capabilities such as
            font style and formatting options, images, tables, lists, and more.</p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Rich Text Editor Overview</h4>
        <h5>Toolbar</h5>
        <img class="img-responsive" src="images/richTextEditor/example-rich-text-editor-toolbar-legend.jpg" />
        <br />

        <div class="rich-text-editor">
            <h5>Design</h5>
            <p>Select the Design tab for WYSIWYG styling using the Rich Text Editor toolbar.</p>
            <img class="img-responsive" src="images/richTextEditor/example-rich-text-editor-design.jpg" />
            <br />
            <h5>HTML</h5>
            <p>Select the HTML tab for standard HTML editing &mdash; search is the only toolbar option available.</p>
            <img class="img-responsive" src="images/richTextEditor/example-rich-text-editor-html.jpg" />
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Content Group Options</h4>
        None
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Allowed Components</h4>
        None
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Code &amp; Classes</h4>
        Not applicable
    </div>
</div>


<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Tips &amp; Troubleshooting</h4>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Restrictions &amp; Dependencies</h4>
        <p></p>
    </div>
</div>