<h3>Thumbnail</h3>

<div class="row">
    <div class="col-xs-5 text-left">
        <img class="img-responsive" src="images/icons/components/thumbnail.png" />
    </div>
    <div class="col-xs-7 text-left">
        <h4>Allowed In</h4>
        <ul class="allowed">
            <li><a href="Accordion"><span class="badge">Accordion</span></a></li>
            <li><a href="Billboard_Slide"><span class="badge text-danger">Billboard Slide (Caption)</span></a></li>
            <li><a href="Container"><span class="badge">Container</span></a></li>
            <li><a href="Modal_Window"><span class="badge">Modal Window</span></a></li>
            <li><a href="Panel"><span class="badge">Panel</span></a></li>
            <li><a href="Row"><span class="badge">Row</span></a></li>
            <li><a href="Row_(Advanced)"><span class="badge">Row Advanced</span></a></li>
            <li><a href="Tabset"><span class="badge">Tabset</span></a></li>
        </ul>
    </div>
</div>

<div style="clear:both"></div>
<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Usage</h4>
        <p>
            <blockquote>
                Extend Bootstrap's grid system with the thumbnail component to easily display grids of images, videos, text, and more.
            </blockquote>
        </p>

        <br />

        <p class="small"><strong>More information at getbootstrap.com</strong><br />
            <i class="fa fa-external-link-square"></i> <a target="_blank" href="http://getbootstrap.com/components/#thumbnails">http://getbootstrap.com/components/#thumbnails</a>
        </p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Example</h4>

        <div class="col-xs-12 col-md-6">
            <h5>Site Builder</h5>
            <img class="img-responsive" src="images/thumbnail/example-thumbnail-sb.jpg" />
        </div>
        <div class="col-xs-12 col-md-6">
            <h5>Web</h5>
            <img class="img-responsive" src="images/thumbnail/example-thumbnail-web.jpg" />
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Content Group Options</h4>
        <img class="img-responsive" src="images/thumbnail/options-thumbnail.jpg" />
        <br />
        <p>To edit content group options, click the Edit Content Group icon <img src="images/icons/icon-edit.jpg" />. </p>

        <table class="table table-striped table-responsive">
            <tbody>
            <tr>
                <th>Option</th>
                <th>Data Type</th>
                <th>Function</th>
            </tr>
            <tr>
                <td>Title</td>
                <td>Input</td>
                <td>Enter title or leave blank
                </td>
            </tr>
            <tr>
                <td>Title Link</td>
                <td>Content Selector</td>
                <td>Select target for title link or leave blank
                </td>
            </tr>
            <tr>
                <td>Body</td>
                <td>Rich Text (RTE)</td>
                <td>
                </td>
            </tr>
            <tr>
                <td>Image</td>
                <td>Media Library Selector</td>
                <td>Select an image in the Media Library
                </td>
            </tr>
            <tr>
                <td>Image</td>
                <td>Media Library Selector</td>
                <td>Select an image in the Media Library
                </td>
            </tr>
            <tr>
                <td>Image Link</td>
                <td>Content Selector</td>
                <td>Select a target for an image link &mdash; leave blank for no linking
                </td>
            </tr>
            <tr>
                <td>Link</td>
                <td>Content Selector</td>
                <td>Select a target for a body text link &mdash; leave blank for no linking
                </td>
            </tr>
            <tr class="text-danger">
                <td>Contextual CSS Class <span class="text-danger">Nothing gets applied - this should be removed</span></td>
                <td>Selection</td>
                <td>Select thumbnail style using bootstrap default class options<br />
                    <ul>
                        <li>(Blank)</li>
                        <li>Danger</li>
                        <li>Info</li>
                        <li>Primary</li>
                        <li>Success</li>
                        <li>Warning</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>CSS Class</td>
                <td>Input</td>
                <td>Add CSS class</td>
            </tr>
            <tr>
                <td>Style</td>
                <td>Input</td>
                <td>Add CSS styles (inline)</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Thumbnail Items</h4>
        <p>The Thumbnail component is comprised of a Title with optional linking, Body, Image (optional link), and Body Text Link (optional).</p>
        <h5>Thumbnail Title</h5>
        <p>Enter the Thumbnail Title as text &mdash; entry here is rendered in the <code>caption h3</code> section.</p>
        <img class="img-responsive" src="images/thumbnail/options-thumbnail-title.jpg" />
        <br />
        <h5>Thumbnail Body</h5>
        <p>Enter Thumbnail Body text &mdash; entry here is rendered in the <code>caption</code> section.<br />
            Note that this item uses the <a href="Rich_Text_(RTE)">Rich Text Editor (RTE)</a> so additional HTML can be entered.</p>
        <img class="img-responsive" src="images/thumbnail/options-thumbnail-body.jpg" />
        <br />
        <h5>Thumbnail Body Text Link</h5>
        <p>Select Thumbnail Body Text Link</p>
        <img class="img-responsive" src="images/thumbnail/options-thumbnail-link.jpg" />
        <br />
        <h5>Thumbnail Image</h5>
        <p>Select Thumbnail Image</p>
        <img class="img-responsive" src="images/thumbnail/options-thumbnail-image.jpg" />
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Thumbnail Image Select</h4>
        <p>To select an image, click the Choose an Image icon.</p>
        <img class="img-responsive" src="images/image/options-image-add.jpg" />
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Thumbnail Image Edit</h4>
        <p>To edit an image, click the Modify Image Appearance icon.</p>
        <img class="img-responsive" src="images/image/options-image-edit.jpg" />
        <br />
        <h5>Image Properties</h5>
        <table class="table table-striped table-responsive">
            <tbody>
            <tr>
                <th>Option</th>
                <th>Data Type</th>
                <th>Function</th>
            </tr>
            <tr>
                <td>Text</td>
                <td>Input</td>
                <td>Alternate Text</td>
            </tr>
            <tr>
                <td>Width</td>
                <td>Input</td>
                <td>Set the width of the image if they are different than the dimensions of the original</td>
            </tr>
            <tr>
                <td>Height</td>
                <td>Input</td>
                <td>Set the height of the image if they are different than the dimensions of the original</td>
            </tr>
            <tr>
                <td>Keep Aspect Ratio</td>
                <td>Checkbox</td>
                <td></td>
            </tr>
            <tr>
                <td>Horizontal space</td>
                <td>Input</td>
                <td>Set the horizontal space around the image</td>
            </tr>
            <tr>
                <td>Vertical Space</td>
                <td>Input</td>
                <td>Set the vertical space around the image</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Thumbnail Image Delete</h4>
        <p>To delete an image, click the Remove the Image icon.</p>
        <img class="img-responsive" src="images/image/options-image-delete.jpg" />
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Allowed Components</h4>
        None
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Code Samples</h4>
        <code>
<pre>
&lt;div class="thumbnail"&gt;
    &lt;img src="/-/media/Images/[file_path.ashx]" alt=""&gt;
    &lt;div class="caption"&gt;
        &lt;h3&gt;Title&lt;/h3&gt;
        &lt;p&gt;Body&lt;/p&gt;
        &lt;p&gt;&lt;a href="/Home"&gt;Link&lt;/a&gt;&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;
</pre>
        </code>
    </div>
</div>


<hr />
<div class="row">
    <div class="col-xs-12">
        <h4>Bootstrap Classes</h4>
        <code>
<pre>
.thumbnail {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    line-height: 1.42858;
    margin-bottom: 20px;
    padding: 4px;
    transition: border 0.2s ease-in-out 0s;
}
.thumbnail > img,
.thumbnail a > img {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
.thumbnail .caption {
    color: #333;
    padding: 9px;
}
</pre>
        </code>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Tips &amp; Troubleshooting</h4>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Restrictions &amp; Dependencies</h4>
        <p></p>
    </div>
</div>